[2015-02-16 14:46] FilipMatys opened #1 "Výběr vedoucího týmu"
Napiste kazdy, kdo si myslite, ze by mel byt projektovym manazerem, nebo proc byste to meli byt prave vy. Napriklad:
- Co vas bavi
- Zkusenosti
- Co vas na tom nejvic laka apod.

Prodejte se pro sve kolegy nebo podporte sve favority. Milestone mame nastaveny do 22.2.2015, takze poprosim vsechny, aby se do te doby vyjadrili.

[2015-02-16 14:48] FilipMatys opened #2 "Komunikační nástroje"

[2015-02-16 14:49] FilipMatys opened #3 "Inicializace projektu"
Inicializace GIT repository

[2015-02-16 15:35] S1LL commented on #1
Já si myslím, že ses toho ujal aktivně :). Pokud sám chceš být, a Tomáš mi říkal, že asi jo, tak proč ne. :+1:

[2015-02-16 16:44] jlorenc01 commented on #1
Mluvili jsme o tom a prý bys o to měl zájem. Tak bych to tak nechal. Za mě tedy Filip.

[2015-02-16 18:18] xlenga01 commented on #1
Filip or feed!!!!

[2015-02-17 11:11] FilipMatys commented on #2
Sprava issues, milniku a diskuze tymu: www.github.com

Domlouvani terminu: www.doodle.com

[2015-02-17 12:05] FilipMatys commented on #2
Dokumentace: wiki od GitHub
https://github.com/FilipMatys/MPR2015/wiki

[2015-02-17 12:10] FilipMatys opened #4 "Jméno týmu"
Poprosim, abychom se dohodli na nazvu naseho tymu. Dnes jsem cetl, ze by to melo byt vyrizeno do 19.2.2015, takze bohuzel neni prilis mnoho casu na diskuzi.

Za kazdy prispevek a projev aktivity (samozrejme k tematu ;)) budu rad.

[2015-02-17 12:23] azuritus commented on #1
Filipe, iniciativně jsi se toho zhostil a myslím, že je výborný nápad abys v tom i nadále pokračoval :)

[2015-02-17 14:18] KratochvilJiri commented on #1
Zdravim,
tak vidim, ze vsichni maji obrovsky zajem o managera...:]. Ja proti Filipovi take nic nemam urcite mu to pujde dobre. Co se me touhy po teto funkci tyka.. Jestli tohle mam brat jako hlasovani, tak uz je asi stejne rozhodnuto. Pokud vsak Filip nechce tuto pozici delat klidne bych to zkusil. Zkusenosti zadne nemam a ani nevim, co je presna napln prace (nejake konkretni techniky atd), ale ta

[2015-02-17 14:29] KratochvilJiri commented on #2
Github pro issues, milniky souhlasim a pravdepodobne i pro diskuzi tymu ikdyz nevim jestli je zrovna toto ten nejlepsi nastroj pro diskuze. Na druhou stranu je fajn to mit na jednom miste.
Napadl me jeste facebook. Jen zalozit skupinu pro rychlou domluvu atd.. Vim, je to tezce amaterske a pred nejakou komisi bysme to nemohli ani zminit, protoze by nas ihned ukamenovali :D. Na druhou stranu typuji,

[2015-02-17 14:37] FilipMatys commented on #2
Souhlasim, ale k FB se stavim celkem pesimisticky. Osobne bych se tomu radeji vyhnul, protoze by to nebylo oddelene od prace a nechtel bych neco resit, zatimco mi do toho chodi upozorneni o festivalech, kdo mi co lajkl a podobne.

Kazdopadne to ma pomerne velkou komunikacni silu, takze branit se tomu nebudu.

Schuzky take vidim jako stezejni, jen mam strach z toho, abychom se mohli v klidu sejit.

[2015-02-17 14:42] KratochvilJiri commented on #2
Ano, mam vicemene stejny nazor. Jen me napadlo, ze by se to dalo eventuelne vyuzit.
Schuzky bych zavedl povinne, pokud nekdo nebude schopen se dostavit neda se nic delat, ale mel by se  vzdy predem domluvit(omluvit) s managerem ten o tom urcite musi vedet, kdyz uz nikdo. Ale tak to je asi zrejme.

[2015-02-17 14:45] FilipMatys commented on #1
Skvele, tak prvni zajemce :) Jsem rad, ze jste projevili svuj nazor a probehlo zde hlasovani, ale osobne jsem se o post vedouciho tymu nehlasil. Osobne se priklanim k tomu, aby byl zvolen clovek, ktery o to ma zajem. Sebe jsem bral spise jako posledni moznost.

Dal bych tedy jeste prostor ostatnim pro vyjadreni do zitrejsiho vecera a potom bysme to uzavreli.

Jeste odpoved k poslednimu prispevku:

[2015-02-17 14:48] KratochvilJiri commented on #4
No meli bychom se tedy zamyslet a nahodit nejake navrhy.

Jinak asi jste si vsimli v zadani, ale jen pro uplnost: --Názvy týmů - jakkoli je dobré mít poutavý název, doporučuji vám být uvážliví ve výběru jména pro tým, neboť i podle něj (a při prvním setkání zejména podle něj) vás může zákazník hodnotit - a jak známo, první dojem je velmi důležitý. Citát: "Od firmy Chiméra bych si software tedy roz

[2015-02-17 14:59] KratochvilJiri commented on #1
Tak to teda diky :D. Ja se jako vudci osobnost moc nevidim :)). Ale o to tu podle me ani tolik nejde v kazdemu cloveku to je. Urcite jste se vsichni nebo vetsina potkali s Mgr. Kaláškákem na nějakých soft skills. Nám vyprávěl příběhy o tom jak před xx lety byl, tak pasivni a bázlivý introvert, že se pomalu bál pozdravit souseda a teď je z neho top manager :).

Jinak jeste me napadlo, ze pokud je t

[2015-02-17 15:04] KratochvilJiri commented on #4
No ted nad tim premyslim a asociace tam asi byt vylozene nemusi jen by to asi nemelo byt uplne mimo misu respektive odrazujici.

[2015-02-17 15:14] FilipMatys commented on #4
Ted me akorat napadlo, ze delame aplikaci pro Excel@FIT, tak proc se nejmenovat EXCEL? nebo ExcelIS

[2015-02-17 15:16] xlenga01 commented on #4
Dekuji jirimu za velmi inspirativni komentar a navrhuji, abychom she pojmenovali WACH we Aren't Chimera

[2015-02-17 15:20] KratochvilJiri commented on #4
No vida staci inspirativni komentar a uz je tu diskuze :D ;].

[2015-02-17 15:32] KratochvilJiri commented on #4
Dekuji za navrhy. Excel bych asi nebral, protoze mi to pripada divne se pojmenovat podle produktu zakaznika.

Osobne me nic moc nenapada jen nejakou zkratku ze slov "master", "application" a hotovo. Pripadne "web" se da zakomponovat do nazvu, pokud budeme delat webovou aplikaci.

Mohl by kazdy do dnesniho vecera nahodit aspon dva nazvy co? Neco nadhodte, at je to klidne blbost, pokud to nebude upl

[2015-02-17 16:37] S1LL commented on #4
Nějaké blbosti co mě napadali :D
Excelio
SkyIS
ExcelNT (excelent? Kappa)
Webaris
Webixo
ISaria
Webjam

Ne a ne něco solidního vymyslet :D

[2015-02-17 17:05] KratochvilJiri commented on #4
Hezky!
Dalsi blbosti, co me ted bleskly hlavou, kdyz jsem precetl ty tvoje.
FITApps, FITCrew, FITjam, FITers.

[2015-02-18 11:39] ghost commented on #1
Jelikož já jsem se k vám přidal do počtu a bohužel vás moc neznám, tak bych spise nechal volbu managera na vas.
Co se tyce me, moc se v managerovi jako roli nevidim...

[2015-02-18 11:46] ghost commented on #2
Hlavne ne facebook, sice nabizi hodne funkcionality ale ma svy proti, GitHub bude v dokumentaci znit lepe.

Sprava issues, milniku a diskuze tymu: www.github.com
terminy: www.doodle.com
absolutne souhlasim

Schuzky byl dal povinne, jedina vyjimka - zduvodnena omluva. Schuzky bych bral jako zamestnani - kdyz se rekne v 10hod schuzka, musime tam byt v 10hod. A kdyz nemuzete nebo jste nemocni, predev

[2015-02-18 12:01] ghost commented on #4
Volil bych klíčová slova jako: konference, komunikace, firma, simple, easy, web (pokud bude webova aplikace)

Jinak z predeslych jmen bych volil:
ExcelNT

[2015-02-18 17:42] andreamarcelyova commented on #1
Takze to vyzera ze asi nikto iny o poziciu manazera zaujem nema, ja tiez nie, tak asi bude fajn ked sa toho zhosti niekto koho to laka, teda Jiri. :)

[2015-02-19 12:34] FilipMatys commented on #1
Je rozhodnuto, vedoucim tymu se stava Jiri Kratochvil, proto zaviram. Dekuji vsem za vyjadreni

[2015-02-19 12:34] #1 closed, assigned to nobody

[2015-02-19 12:35] KratochvilJiri commented on #4
Na dnešní přednášce proběhlo mezi zúčastněnými hlasování o názvu týmu.
Byly vybráni dva kandidáti: Excellent a FitEx. Tito kandidáti mají momentálně následující počet hlasů: Excellent: 2.5, FitEx: 1.5. ¨
Poprosil bych o hlasování zbylé členy týmu. Připadně ještě můžete navrhnout jiný název, který může být zařazen do hlasováni.
 Pokud dnes neproběhne žádná další aktivita na toto téma, bude zvolen n

[2015-02-19 12:43] KratochvilJiri opened #5 "Cvičení"
V rámci vyuky je naplánováno jedno bodované cvičení, které se má konat v průběhu pátého týdne a to bud v utery či ve čtvrtek v časech od 14:00 - 19:00 (trvat by mělo cca 2h).

Na přednášce jsme se shodli, že by nám vyhovoval termín čtvrtek 14:00. Poprosím o odsouhlasení zbylých členů týmů případně navržení jiného vyhovujícího termínu.

Na cvika se lze již zapisovat a to zatím pouze u doc. Kreslíko

[2015-02-19 12:53] S1LL commented on #4
Tak já hlasuju pro Excellent :)

[2015-02-19 12:54] S1LL commented on #5
od 15 mám "povinnou" rétoriku :D ale tipuju že se nic nestane když tam nebudu

[2015-02-20 09:16] azuritus commented on #5
Za mě je čtvrtek v pohodě.

[2015-02-20 09:17] azuritus commented on #4
Jsem pro Excellent, je takový údernější :)

[2015-02-20 13:28] jlorenc01 commented on #5
Souhlasím se čtvrtkem 14:00.

[2015-02-20 16:19] andreamarcelyova commented on #5
Aj pre mna je stvrtok ok.

[2015-02-20 16:20] andreamarcelyova commented on #4
Ano, Excellent! :)

[2015-02-21 13:20] KratochvilJiri commented on #5
Zapsán čtvrtek 14:00-15:50 - měli by jste to mít i ve WISu.

[2015-02-21 13:20] #5 closed, assigned to nobody

[2015-02-21 13:21] KratochvilJiri commented on #4
Zvoleno Excellent - přihlášeno - zapsáno ve WISu.

[2015-02-21 13:21] #4 closed, assigned to nobody

[2015-02-21 13:38] KratochvilJiri opened #6 "1. schůzka"
Cílem schůzky bude:
1. seznámení členů týmů - ja osobně zatím viděl jen necelou půlku týmů
2. rozdělení rolí v týmů (mohou se v průběhu změnit)
3. pobavení se o projektu - kam ho budeme směrovat
4. rozdělení počátečních prací - pravděpodovně zatím pujde jen o uvodní studii a specifikaci
5. vytvorení dotazů na zakazníka

Poprosil bych vás všechny, aby jste si přečetli zadání projektu, co se impleme

[2015-02-21 13:53] FilipMatys commented on #6
Vyborne, dekujeme za program na schuzi.

Jeste bych doporucil zalozit na wikipedii hlavicku Schuze se strankami pro kazdou schuzi, kde bude program schuze, datum uskutecneni a pote i zapis ze schuze k jednotlivym bodum. Spravu teto stranky bych delegoval. Klidne se toho ujmu osobne

[2015-02-22 17:14] andreamarcelyova commented on #6
Za Pavla doplnim, ze je na horach cely tyzden, takze sa urcite nezucastni. (Internet im tam moc nefunguje, preto sa neozval.)

[2015-02-23 13:59] azuritus commented on #6
Ahoj, tak už jsem přístup na ty internety získal, ale Andrejka má pravdu, zúčastnit schůzky se nebudu moci, protože z hor se vracím až v sobotu. Příští týden už budu plně k dispozici.

[2015-02-23 19:47] KratochvilJiri commented on #6
Termin schuzky byl stanoven na stredu 11:30.

Bude se konat v konferencni mistnosti c.1 v knihovne.

Ti, kteri se nemuzou z nejakeho duvodu dostavit bych poprosil, aby me co nejdrive kontaktovali alespon na mail a napsali mi jake maji predstavy o sve vlastni praci na projekte tzn. jakou roli by radi plnili. Zkusim to zohlednit, ale nic neslibuji, pokud me nebudete kontaktovat ani se nedostavite. B

[2015-02-24 09:09] andreamarcelyova commented on #6
Nevadi, zajtra sa mi to sice nehodi, ale zariadim si to a budem tam.

[2015-02-24 19:46] KratochvilJiri commented on #6
Super! Diky.

[2015-02-25 13:15] KratochvilJiri opened #7 "Dokument - Definice problému"
Vypracování prvního dokumentu - Definice problému.

[2015-02-25 13:18] KratochvilJiri opened #8 "1. schůze s asistentem"
Schůze za účelem prodiskutování Definice problému se zákazníkem.
Dnes kontaktuji asistenta (zákazníka) a termín bude upřesněn v následujících dnech.
Chůze se zůčastní @FilipMatys @KratochvilJiri @LiborMan @andreamarcelyova.

[2015-02-25 13:23] KratochvilJiri opened #9 "1. Schůze programového týmu"
Učel schůze je zvolení použitých technologií, rozdělení do týmu, předběžný náčrt prací.
Termín domluví vedoucí prográmátor @FilipMatys, který také vypracuje zápis se schůze.
Schůze se zůčastní @FilipMatys @Malajda @Lorry1 @azuritus @KratochvilJiri.

[2015-02-25 13:26] KratochvilJiri opened #10 "Logování práce"
Vytvoření a inicializace dokumentu na Google Docs, kde bude každý individuálně a průběžně zapisovat odvedenou práci na projektu.

[2015-02-25 13:27] FilipMatys commented on #9
Přikládám hlasování k termínu schůze:
http://doodle.com/fk2gmf2x363bn6ur

[2015-02-25 19:36] KratochvilJiri commented on #6
Schůze proběhla v pořádku a projednali se všechny body. Díky za hojnou účast a aktivní diskuzi.
Záznam ze schůze by jste již nyní měli mít zpřístupněn na Google Drive.

[2015-02-25 19:36] #6 closed, assigned to nobody

[2015-02-25 19:40] KratochvilJiri commented on #7
Dokument jsem napsal a zveřejnil na Google Drive. Poprosil bych alespoň @andreamarcelyova a @LiborMan, aby na to mrkli a případně doplnili/kontaktovali mě, jestli jsem na něco zapomněl a nebo odsouhlasili.

Zjisitl jsem, že v dokumentu má být ještě něco jako pohledy systému (jinak rečeno jednotlivé "stránky/views" aplikace), takže jsem se je pokusil doplnit.

Samozřejmě ocením jakoukoliv zpětnou v

[2015-02-25 19:44] S1LL commented on #7
Prosimtě, asi sem slepý, ale kde najdu odkaz na ty různé google drive dokumenty

[2015-02-25 19:46] KratochvilJiri commented on #7
Posílal jsem vám všem pozvánku na školní mail. Nepřislo nic? Kdyžtak zkus tohle: https://drive.google.com/folderview?id=0BxzkpFaLnmdzc2VVRFdfYXVMX1k&usp=sharing_eid&invite=CI7iy8kL

Ale měli by jste to mít na mailech.

[2015-02-25 19:50] S1LL commented on #7
Díky

[2015-02-25 20:03] KratochvilJiri commented on #10
Dokument jsem vytvořil a rozslal vám emaily s pozvánkami. Pro jistot, že by email někomu nedorazil přidávám můj komentář společně s odkazem.

Zdravím,
připravil jsem google doc pro logování práce. Barviček se nelekejte, snažil jsem se to aspoň trošku zpřehlednit. Pokud bude mít někdo nápad a chuť to vylepšit klidně to upravte, ale myslím, že pro naše účely to poslouží.

Jakmile dokončíte práci na

[2015-02-25 20:03] #10 closed, assigned to KratochvilJiri

[2015-02-25 20:04] S1LL commented on #7
Je tam 3x stejná otázka. Je to myšleno pokaždé jinak? A já jiné otázky poznačené nemám.

[2015-02-25 20:11] KratochvilJiri commented on #7
Opraveno. Nebyl to žádný zamer spis kombinace  "copy paste" a unavy. Jinak diky za feedback.

Co se tyka zakaznika kontaktoval jsem ho hned po schuzi, kdyz jsem dorazil domu. Odpoved prozatim zadna.

[2015-02-25 20:13] KratochvilJiri commented on #2
Uzavřeno. Použivá se email, gitHub, skype a mob. telefony.

[2015-02-25 20:13] #2 closed, assigned to nobody

[2015-02-25 20:50] KratochvilJiri commented on #8
Mně se osobně nehodí ani pondělí ani uterý v tomto čase... Tím pádem jsem pro ponděli, ať to mame co nejdřiv uzavřené a mužeme postupovat dal ke konečné specifikaci.

Dobry vecer,

bohuzel, dopoledne mi nepasuje. Navrhuji odpoledne mezi 14 a 16h (po, ut, ct).

S pozdravem
  Roman Trchalik

[2015-02-25 20:52] S1LL commented on #8
Já klidně v pondělí 14-16

[2015-02-25 20:56] FilipMatys commented on #8
Souhlasim s terminem pondeli 14-16

[2015-02-25 20:59] FilipMatys commented on #10
Jeste doplnim. Pridal jsem do sheetu trochu logiky, ktera automaticky pocita sumu odpracovanych hodin a pocita vyslednou cenu.

Aby vse fungovalo, tak prosim zadavejte hodiny jako desetinna cisla s carkou jako oddelovacem.

Dekuji

[2015-02-25 21:11] andreamarcelyova commented on #8
Pondelok 14-16 moze byt

[2015-02-27 17:50] KratochvilJiri commented on #8
Domluveno na pondělí 14:00 u pana Trchalíka v kabinetu. Zůčastnění nechť si projdou dokument, který bude sloužit jako podklad diskuze.

[2015-02-27 19:42] FilipMatys commented on #9
Na programu schuze bude:
1. Probrat z implementacniho hlediska pozadavky zakaznika (bude dostupny zapis)
2. Zvolit vhodne implementacni prostredky
3. Zanalyzovat moznosti technickych pracovniku
4. Rozdeleni uvodnich praci

S terminem jeste pockame na @xlenga01

[2015-03-01 11:22] KratochvilJiri commented on #7
Dokument považuji za schválený. Je k dispozici od čtvrtečního večera a nikdo další se k tomu nevýjadřil. Jelikož je zítra schůzka a nedávám velké šance, že by to někdo v neděli odpoledne ještě řešil, uzavíram to.

Jeden vytisk vezmu na schůzku se zákazníkem a budu do něj dělat poznámky. Bylo by dobré kdyby poznámky dělalo více lidí, ať se snížíme alespoň nějakým způsobem riziko v podobě pozdějších

[2015-03-01 11:22] #7 closed, assigned to KratochvilJiri

[2015-03-01 11:53] KratochvilJiri commented on #8
Sraz 13:55 před: Kancelář C305.

[2015-03-02 08:27] FilipMatys commented on #9
Termin schuze stanoven na stredu od 11:30 v konferencni mistnosti c.1

[2015-03-02 19:13] KratochvilJiri commented on #8
Schůze se úspěšně uskutečnila. Projdu si ještě jednou, co říkal a stanovím další plán. Poprosil bych vedouci dokumentace @andreamarcelyova, aby připravila zápis z této schůze. Vytvořím na to issue.

Tento issue je uzavřen.

[2015-03-02 19:13] #8 closed, assigned to nobody

[2015-03-02 19:22] KratochvilJiri opened #11 "Zápis z 1. externí schůze (se zákazníkem)"
Poprosil bych tě, aby jsi vypracovala zápis z dnešní schůzky se zákazníkem.

Šablonu najdeš na stránkách MPR. Můžes se inspirovat i úvodní zprávou z naší schůzky, kterou jsem napsal. Tím nechci tvrdit, že tato zpráva je naprosto správně. Použij ji spíš v případě, že nebudeš vědět o čem psát, ale je to jednoduché, takže určitě nebude problém.

Byl bych rád, kdyby jsi to vypracovala do zítřejšího ve

[2015-03-03 09:28] andreamarcelyova commented on #11
Ok, dnes pobede/navecer to napisem a hodim to tam.

[2015-03-04 12:22] KratochvilJiri commented on #11
Vypracováno, schváleno. Dobrá práce! Dokument můžete nalézt v dokumentovém skladu.

[2015-03-04 12:22] #11 closed, assigned to andreamarcelyova

[2015-03-04 12:39] FilipMatys opened #12 "Seznámení se s LightSwitch"
Poprosim cleny implementacniho tymu, aby se seznamili s frameworkem LightSwitch.

O link na tutorial poprosim Pavla.

Dekuji

[2015-03-04 14:19] KratochvilJiri opened #13 "Zpráva z 1. schůze programového týmu"
Vypracování zprávy z 1. schůze programového týmu.

[2015-03-04 19:30] xlenga01 commented on #13
Zprava vypracovana a ulozena ve skladu dokumentu.

[2015-03-04 19:35] FilipMatys commented on #13
Chapu to dobre, ze se jedna o ten textak?

[2015-03-04 20:36] xlenga01 commented on #13
Vskutku.

[2015-03-04 21:49] KratochvilJiri opened #14 "Dokument - Úvodní studie"
Vypracování dokumentu Úvodní studie do 8.3.2015. Šablona k tomuto dokumentu je v zadání. Dokonce lze nalézt (po kliknutí na "Úvodní studie" v tabulce požadovaných dokumentů) vypracovaný dokument na jinou aplikaci.

Z poslední schůzky s asistentem jsem pochopil, že dokument je hlavně pro nás, abychom zase trošku blíže vymezili funkce, cíle, výstupy systému. Podle toho vypracovaného vzoru a informac

[2015-03-04 21:56] FilipMatys commented on #12
Link jsem pravdepodobne nasel, takze prikladam:
http://www.codeproject.com/Articles/746157/An-End-To-End-Visual-Studio-LightSwitch-HTML

[2015-03-04 22:08] KratochvilJiri opened #15 "Dokument - Specifikace požadavků"
Nastuduj dokument Specifikace požadavků udělej si představu o tom jak by to mělo cca vypadat. V zadání je šablona. Více bych se věnoval té, která je přímo na stránkách nikoliv v souboru .doc.

Pokud nebudeš mít problém můžeš to rovnou napsat. Jestli si nebudeš vědět rady, sedneme nad tím po neděli ve více lidech a dáme to dohromady. V případě nejasností mě kontaktuj.

Dokonce týdne vypracuj/nastud

[2015-03-04 22:42] FilipMatys opened #16 "Nasazení projektu pro testování"
Pro účely testování aplikace bude probíhat nasazení na online platformu. Na této platformě bude umožněno všem testujícím aplikaci vyzkoušet a testovat nově vytvořenou funkcionalitu.

Nabízí se dvě možnosti:
Windows Azure
- kdysi existovala freemium verze, která ale umožňovala životnost aplikace pouze 24hodin od nasazení, nyní je možné pořídit pouze měsíční trial verzi a poté běh aplikace platit.

[2015-03-05 17:04] S1LL commented on #15
jojo, beru na vědomí, zítra se na to kouknu

[2015-03-05 21:28] andreamarcelyova commented on #14
Ok, cez vikend vypracujem, keby nieco ozvem sa

[2015-03-06 21:50] FilipMatys commented on #12
Velice doporucuji shlednout nasledujici tri videa, pokud Vam neco z vyse zmineneho linku neni jasne:
https://www.youtube.com/user/UCJAEjqy76xRdQzTn45C/search?query=Light

[2015-03-07 00:19] S1LL commented on #15
@KratochvilJiri nahrál sem do skladu, co jsem dneska stihl. Kouknul by ses na to, jestli nejsem úplně mimo?

[2015-03-07 07:38] KratochvilJiri commented on #15
Super, mrknu na to a dam vědět.

[2015-03-07 08:07] FilipMatys commented on #12
Jeste mrknete zde. Probira se tu prihlasovani. Samozrejme neni nutne do pristi schuze, jedna se o narocnejsi priklad:
http://blogs.msdn.com/b/lightswitch/archive/2013/03/18/signed-in-part-1-introduction-andy-kung.aspx

[2015-03-07 08:22] KratochvilJiri commented on #13
Po přepracování už to vypadá trošku líp, ale ma to jeste své mouchy.
1. Dopln do nazvu souboru datum a cislo verze, tak jak je to u vsech dokumentu
2. Obsah by mel byt na zvlastni strance
3. Zkratku n.l. tam není potřeba psát, myslim, že každý ví o který letopočet se jedná, takže je to zbytečné
4. Nadpisy jednotlivych kapitol by mely byt stejnou velikosti pisma
5. Formatovani textu neni nic moc, z

[2015-03-07 09:24] KratochvilJiri commented on #15
Prošel jsem to a udělal si nějaké poznámky. Napiš mi na Skypu až budeš mít čás, probereme to.

[2015-03-07 09:59] #9 closed, assigned to nobody

[2015-03-07 16:50] KratochvilJiri opened #17 "2. schůze týmu"
Pomalu se rysuje specifikace požadavků, ale je nutno prodiskutovat několik věcí společně s programátorskou částí týmu.

Na schůzi nutně nevyžaduji účást @andreamarcelyova, ale pokud se zučastní a přispěje bude to jenom dobře.

Plán:
1. Upřesnění specifikace požadavků

Termíny:
http://doodle.com/ixnrt72fnq7zqkeu#table

[2015-03-07 17:38] #13 closed, assigned to xlenga01

[2015-03-08 14:44] S1LL commented on #17
Právě jsem nahrál verzi, která je více méně připravená k větší diskuzi. Prosím, přečtěte si důkladně dokument ve verzi 1.1 a udělejte si poznámky. Věci co jsem nevěděl nebo nejsou kompletní jsou v dokumentu červeně, těm prosím věnujte zvýšenou pozornost. Samozřejmě můžeme měnit vše... Pokud někoho něco napadne k poslední kapitole dokumentu budu jenom rád.

[2015-03-08 22:09] andreamarcelyova commented on #14
Nahrala som dokument na drive, pisala som to viac menej podla toho vypracovaneho vzoru na mpr strankach, niektore veci mi tam uplne nedavali zmysel, tiez som zvedava co na to povie asistent... :)

[2015-03-09 13:51] KratochvilJiri commented on #17
Schůze bude ve středu v 11:30, predbezne v konference c.1 - knihovna, ale jeste to potvrdím az ji zamluvim.

[2015-03-09 13:52] andreamarcelyova commented on #17
Pridem aj ja, chcem zostat  v obraze :)

[2015-03-10 20:09] KratochvilJiri commented on #17
Na zítra 11:30 je zamluvena konferencni mistnost c.2. Zápis ze schůze vypracuje @Lorry1

[2015-03-10 20:10] KratochvilJiri opened #18 "Dokument - zápis z 2. schůze týmu"
Vypracování zápisu z 2. schůze týmu.

[2015-03-11 19:29] jlorenc01 commented on #18
Vypracováno a uloženo ve skladu dokumentů.

[2015-03-15 18:46] KratochvilJiri commented on #18
Prošel jsem to a je to v pořádku. Díky.

[2015-03-15 18:46] #18 closed, assigned to jlorenc01

[2015-03-15 18:47] KratochvilJiri commented on #17
Schůze proběhla dle předpokladů. Zápis ve skladu dokumentů.

[2015-03-15 18:47] #17 closed, assigned to nobody

[2015-03-15 19:10] KratochvilJiri opened #19 "Dokument - Plán projektu"
Vypracuj dokument plán projektu. Šablonu najdeš na stránkách MPR. Hlavní body jsou:
1. Úvod
2. Použitý model životního cyklu.
3. Složení a role týmu - kdo je za co globálně zodpovědný -- hlavní manažer, vedoucí pro jednotlivé etapy.
4. Harmonogram - tabulka s uvedením etap a jejich významných částí, dob jejich trvání, milníky (finální verze dokumentů apod.) s termíny, datumy oponentur, k činnostem

[2015-03-15 19:29] ghost commented on #19
Ok, beru na vedomi. Nejdrive se stihnu na to podivat v utery.

[2015-03-30 23:15] KratochvilJiri commented on #14
Uzavřeno - schváleno.

[2015-03-30 23:15] #14 closed, assigned to andreamarcelyova

[2015-03-30 23:25] KratochvilJiri opened #20 "2. Schůzka se zákazníkem - Specifikace požadavků - schválení"
Dne 2.4.2015 (tato středa) v 13:30 se uskuteční schůzka se zákazníkem.
Cíl schůze je odsouhlasení Specifikace požadavků.

Zůčastní se: @FilipMatys @andreamarcelyova @LiborMan a já. Pokud by někdo nemohl přijít, kontaktujte mě. Schůze proběhne opět v kanceláří u zákazníka.

Poprosím Libora, aby měl Specifikaci s sebou nejlépe asi v tištěné podobě nebo jak ti to bude vyhovovat. Tvým úkolem bude záka

[2015-04-01 17:11] KratochvilJiri commented on #20
Schůzka uskutečněna. Info pošlu v hromadné zprávě.

[2015-04-01 17:11] #20 closed, assigned to nobody

[2015-04-01 17:43] KratochvilJiri opened #21 "Dokument - Návrh"
Dokument vypracuje a zodpovida za něj @FilipMatys. Jeho úkolem je zejména vypracování návrhu GUI, zbylou práci rozdělí rovnoměrně mezi členy programového týmu na základě domluvy.

Kostra k dokumentu je v zadání projektu.

Průběh návrhu bude @FilipMatys reportovat a konzultovat mně.

Dokument bude vypracován dokonce víkendu/půlky následujícího týdne.

[2015-04-01 17:44] KratochvilJiri opened #22 "Dokument - Zápis z 2. schůze se zákazníkem"
Vypracovat dokonce týdne zápis z dnešní schůze.

[2015-04-01 18:08] FilipMatys opened #23 "2. Schuze programoveho tymu"
Zdravim kolegy z programoveho tymu.

Jak jiz byva zvykem, cekani na zakaznika/asistenta nas pomerne zdrzelo. Vysledkem je vsak vysledna specifikace, na ktere jiz muzeme zalozit navrh.

http://doodle.com/fb5ft4u89wynd4d8

Vkladam doodle na domluvu schuze. Je to narychlo, ale zkusme to zvladnout. Za "kriticke" situace, kdy se nebudeme moci dohodnout na terminu schuzky, usporadame spolecnou konferenc

[2015-04-02 07:47] FilipMatys commented on #23
Dnesni schuze se kvuli nizke ucasti rusi.

Poprosim Vas, abyste napsali, kdy muzete/nemuzete od patku do pondeli.

Nekteri odjizdeji na Velikonoce pryc, tudiz potrebujeme vedet, ktere sily nam jsou ci nejsou k dispozici.

Diky

PS.: Vojtech ma na starosti plan projektu, proto toto issue muze ignorovat

[2015-04-04 07:40] FilipMatys commented on #12
Lokalizace
https://msdn.microsoft.com/cs-cz/library/xx130603.aspx

[2015-04-05 12:55] andreamarcelyova commented on #22
Zapis je v datovom sklade - schuze-zaznamy/externi. Snad som tam na nic moc nezabudla.

[2015-04-06 09:20] FilipMatys commented on #23
Tak diky za odpovedi xD

Zasilam doodle pro schuzi tento tyden. Netyka se jen programatoru, rad bych, aby se ucastnili i ostatni clenove tymu, jelikoz bude prezentovan graficky navrh (jen mockup).

http://doodle.com/pys57tgga4zncq3q

Diky

[2015-04-06 09:21] FilipMatys commented on #21
Pripraven navrh GUI. Po schuzi bude doplneno o textove popisy a vlozeno do dokumentu.

[2015-04-06 14:11] KratochvilJiri commented on #22
Dobra práce. Schvaleno.

[2015-04-06 14:11] #22 closed, assigned to andreamarcelyova

[2015-04-06 14:15] KratochvilJiri commented on #21
Vypadá to dobře! Kdyžtak někam nasdílej to pdf pro ostatní. Díky.

[2015-04-06 14:51] FilipMatys commented on #21
Ok, je to tam. Sklad dokumentu/ostatni

[2015-04-06 20:27] FilipMatys opened #24 "Návrh - Specifikace uživatelských testů"
Poprosím Tě o vypracování části návrhu, a to Specifikace uživatelských testů. Pokud budeš potřebovat, tak @andreamarcelyova by Ti měla být k dispozici.

Na schůzi bychom měli probrat alespoň beta verzi návrhu, tudíž poprosím o prvotní vypracování do čtvrteční schůze 9.4.2015.

[2015-04-06 20:28] FilipMatys opened #25 "Návrh - Statická struktura"
Poprosím Tě o vypracování části návrhu, a to Statická struktura. Zejména se zaměř na diagram tříd. Pokud budeš potřebovat, tak Ti budu k dispozici. Můžeme se domluvit i na společné schůzi.

Na schůzi bychom měli probrat alespoň beta verzi návrhu, tudíž poprosím o prvotní vypracování do čtvrteční schůze 9.4.2015.

[2015-04-06 20:30] FilipMatys commented on #25
Vycházej jak ze specifikace, tak z návrhu GUI, který je v datovém skladu. Jeho bližší popis vypracuji taktéž do 9.4.2015, takže dotazy směřuj na mě.

[2015-04-06 20:35] FilipMatys opened #26 "Návrh - Diagram užití"
Poprosím Tě o vypracování části návrhu, a to Diagram užití.

Na schůzi bychom měli probrat alespoň beta verzi návrhu, tudíž poprosím o prvotní vypracování do čtvrteční schůze 9.4.2015.

Vycházej ze specifikace a návrhu. Pokud budeš mít jakékoliv dotazy, tak se na mě obrať. Návrh je zatím ve formě PDF ve skladu dokumentů.

[2015-04-06 20:36] FilipMatys opened #27 "Návrh - Sekvenční diagram/Diagram spolupráce"
Poprosím Tě o vypracování části návrhu, a to sekvenční diagram, nebo diagram spolupráce.

Na schůzi bychom měli probrat alespoň beta verzi návrhu, tudíž poprosím o prvotní vypracování do čtvrteční schůze 9.4.2015.

Vycházej ze specifikace a návrhu. Pokud budeš mít jakékoliv dotazy, tak se na mě obrať. Návrh je zatím ve formě PDF ve skladu dokumentů.

[2015-04-06 20:40] FilipMatys commented on #21
Bylo vytvořeno několik issue k danému dokumentu. Mnoho toho vychází z návrhu a specifikace, k jinému bude potřeba znát diagram tříd. Pokud budete cokoliv potřebovat, tak se na mě obraťte. Pokud víte, že nestíháte, tak ,prosím, dejte vědět. Já mám v plánu během zítřejšího dne dodělat popis k návrhu GUI, takže bych měl být stále na příjmu.

Poprosím všechny, aby během středy ke svému issue napsali,

[2015-04-06 20:52] KratochvilJiri commented on #21
Do čtvrteční schůze by měly být vypracovány alespoň beta verze všech úkolů (tak jak psal Filip v jednotlivych issues), abychom případné nejasnosti mohli prodiskutovat ve větším počtu lidí. Na druhou stranu neměl by to být jen nějaký prvnotní nástřel, který budeme muset salodlouze analyzovat a z větší části přepracovávat. Mělo by to mít hlavu a patu, jinými slovy logickou stavbu a smysl a co možná

[2015-04-07 09:52] FilipMatys commented on #23
Termin schuze 10:00 ve ctvrtek

[2015-04-07 16:43] FilipMatys commented on #25
Výsledek by mohl vypadat nějak takto:
http://people.cis.ksu.edu/~reshma/classdiagram1.JPG

Ignoruj metody. Důležité jsou kardinality, primární klíč uvažuj vždy jako Id (vše dědí z "Indexed entity", tedy IndexedEntity: { Id:double }).

Vyplněná šipka znamená pevná vazba, tedy že entita nemůže bez té druhé existovat (jestli si to správně pamatuji ^^), trojúhelníková šipka pak značí dědičnost.

[2015-04-07 19:34] azuritus commented on #27
Vytvořil jsem pracovní verzi několika sekvenčních diagramů a umístil je do datového skladu.

[2015-04-07 20:03] FilipMatys commented on #27
Vypadá to velice dobře, dobrá práce a díky za info.

[2015-04-08 01:33] S1LL commented on #24
Nahrána první verze, možná zítra dodělávky :smiley_cat:

[2015-04-08 06:48] FilipMatys commented on #24
Velmi dobře, díky! Jen nezapomínej na spánek :/ Ikdyž věřím, čas se teď těžko hledá

[2015-04-08 06:49] FilipMatys commented on #26
Čau Honzo, můžeme s Tebou počítat? Nemáme od Tebe žádnou zpětnou vazbu

[2015-04-08 07:03] jlorenc01 commented on #26
Diagram mám načrtnutý na papíře. Během dneška ho překreslím v nějakém nástroji a nahraju do skladu dokumentů.

[2015-04-08 07:55] FilipMatys commented on #26
Super, díky. Ještě, prosím, nezapomeň, že zítra máme schůzi.

[2015-04-08 17:29] FilipMatys commented on #25
Čau Tome,
Jak jsi na tom? Podařilo se ti něco vymyslet?

[2015-04-08 17:30] FilipMatys commented on #26
Čau Honzo,
Kdy asi můžu očekávat, že nahraješ diagramy do datového skladu? Kolik jsi toho stihl?

[2015-04-08 17:40] FilipMatys commented on #21
Predbezne rozepsany navrh je v datovem skladu. Jakmile budu mit dnes zac cas, tak budu pokracovat.

[2015-04-08 19:10] jlorenc01 commented on #26
Nahrál jsem první verzi.

[2015-04-08 20:01] FilipMatys commented on #26
Supr, diky

[2015-04-08 20:08] xlenga01 commented on #25
V datovem skladu je prvni nastrel - par veci mi nebylo jasnych, takze se to bude muset dodelat.

[2015-04-08 20:10] FilipMatys commented on #25
Vyborne, diky. Zitra na to mrknem

[2015-04-08 21:22] FilipMatys commented on #21
Doplneno o obrazovku pro spravu vyjimek. Dale upraveny nektere mockups, pridana sitemap a paleta pro vysledny produkt.

[2015-04-09 11:13] S1LL commented on #21
Ještě takový detail co jsem zapomněl, poznámky na speciální služby bude taky pod položkou notes? Například typ poznámky?

[2015-04-09 12:38] FilipMatys commented on #21
Jj, o tom padla rec pak v druhe casti schuze. Zapracuji to do navrhu a dam vedet

[2015-04-09 14:43] FilipMatys commented on #23
Díky všem za účast a věcné připomínky. Díky @LiborMan za připomínky plynoucí ze specifikace, do návrhu budou promítnuty.

[2015-04-09 14:43] #23 closed, assigned to FilipMatys

[2015-04-09 14:44] FilipMatys opened #28 "Dokument - zápis z 2. schůze programového týmu"

[2015-04-09 18:32] xlenga01 commented on #25
Ok, nahodil jsem do datoveho skladu verzi, ktera by mela byt uz pouzitelna.

[2015-04-09 20:02] FilipMatys commented on #25
Super, diky. Poprosim i ostatni cleny tymu, aby na to mrkli a eventuelne pronesli kritiku, diky

[2015-04-09 20:13] FilipMatys commented on #21
Speciální požadavky firmy jsem zapracoval do návrhu. Díky za připomínku.

Nahrána verze s popisy a doplněno o obrázky. Není u nich zatím legenda, bude doplněno, až budeme vše dávat dohromady.

Poprosím členy týmu, kteří si najdou čas a náladu, o kritiku.

Díky

[2015-04-10 09:03] andreamarcelyova commented on #25
Ja teda nie som programator, ale myslim, ze pre deadliny a podobne by bol vhodnejsi typ pre datum a nie string. Potom sa mi nezda kardinalita napr. medzi Admin a User - nie kazdy user je zaroven admin, to iste s Company a ContactPerson. Co su tie Note? Asi sa o tom hovorilo na stretnutiach, ale som z toho trosku zmatena. :)

Este otazka na Filipa, cisto zo zvedavosti, preco id: double? :)

[2015-04-10 09:12] FilipMatys commented on #25
Ahoj,
Díky za reakce.

1) Datum
- Co mám informace, tak dostupný nástroj, který Tomáš použil, tak typ Datum neumožňuje, takže jej budeme muset dodatečně upravit, o tomto vím.

2) Máš pravdu. Tímto poprosím, aby Tomáš provedl úpravu

3) Notes
- Jsou to poznámky, které přidávají kontaktní osoby k firemním účastem a pomáhají tím ostatním kontaktním osobám orientovat se v aktuálním stavu jednání s dan

[2015-04-10 09:20] andreamarcelyova commented on #25
Myslela som si, len ma trochu v tom Notes zmiatlo spojenie s User.

[2015-04-10 09:50] FilipMatys commented on #25
Nad tím jsem taky přemýšlel. Otázkou pro mě však bylo, jestli bude moci přidávat poznámky pouze přiřazená kontaktní osoba, nebo třeba i admin.

Za mě by více dávalo smysl přiřazená kontaktní osoba. Souhlasíš?

Ve specifikaci může přidávat "Zaměstnanec FIT"

[2015-04-10 10:39] andreamarcelyova commented on #25
Ja si tiez myslim, ze to viac dava zmysel aby poznamky pridavala kontaktna osoba, ten admin mi tam pripada trochu zbytocny. Ale neviem, mozno niekomu napadne kedy by sa to hodilo..

[2015-04-10 16:16] FilipMatys commented on #21
Poprosím všechny, aby do osmé hodiny dali vědět, jak jsou na tom.

Pokud jste se k tomu doposud nedostali, tak nevadi. Pokud někdo narazí na problém, tak jsem k dispozici (se zpožděním). Mimo jiné je k dipozici i Vojta jako pracovní síla.

Díky

[2015-04-10 17:40] KratochvilJiri commented on #25
Z mého pohledu bych nechal klidně přidávat poznámky jakoukoliv kontaktní osobou. Protože pokud má někdo nějaké zkušenosti/na něco si vzpomněl z dřívější spolupráce/jednal s firmou a není v tomto roce přiřazen pro firmu jako kontaktní osoba, ale chce pouze přidat poznámku, aby pomohl kolegovi, který ji má letos, tak přoč by tam tu poznámku nemohl napsat? Není to žádné zasahování někam, navíc tam bu

[2015-04-10 17:44] KratochvilJiri commented on #27
Jak to vypadá s finální verzí prosimtě?

[2015-04-10 17:59] FilipMatys commented on #25
Ad Poznámky)
Ok, takže pro poznámky spojení s user zůstává

Ad Mazání)
Bude doplněno do návrhu během zítřejšího dne. Ostatní poprosím, aby s tím počítali. Tlačítko pro smazání bude u každé poznámky viditelné pro admina a pro autora poznámky

[2015-04-10 18:02] xlenga01 commented on #25
Ok, nahrana nova verze:
kardinality opraveny
pridan atribut specialRequests

vztahy k poznamkam jsem zatim nemenil a osobne nevidim duvod, proc by admin nemohl pridavat poznamky

[2015-04-10 18:32] azuritus commented on #25
Ahoj, taky bych mel par poznamek, krome toho co tady uz zaznelo bych jeste mel:
1. Admin a ContactPerson, nevidim duvod proc by mely tyhle tridy vubec existovat.
2. To ze je uzivatel admin je dano jeho roli a zadnou dalsi informaci tahle trida nenese, takze bych ji navrhoval bez nahrady zrusit.
3. Kontaktni osoba, tam je to podobne - zrusit a vazbu na Participation udelat na primo. Zaroven bych na

[2015-04-10 19:38] xlenga01 commented on #25
Mrknul jsem se na to a vzhledem k tomu, ze nemam zitra cas a s vetsinou pripominek osobne souhlasim jsem nahodil do skladu verzi 2 v upravovatelnem formatu:

1-3 : souhlas(ted je tam jen trida user, ktera ma atribut role)
4 : ano ta vazba je autor(jestli je to zvlastni osobne netusim)
5 : attendee ma jen jeden atribut a to je jmeno(vytiskne se na jmenovce), zatim jsem tam tu tridu nechal (mam doje

[2015-04-10 21:03] FilipMatys commented on #25
Díky @azuritus  za připomínky. Jelikož Tomáš v sobotu nemůže pokračovat, tak poprosím Vojtu o dokončení a zapracování připomínek.

Dál k poslední poznámce, ke které bych se rád vyjádřil:
Ano, přiznávám chybu na své straně. Měl jsem v hlavě informaci, která nebyla pravdivá, což přiznávám. Dále však nepovažuji způsob, jakým si zvolil prezentovat svůj názor, za zcela vhodný.

Věřím, že mě můžeš považ

[2015-04-10 21:04] FilipMatys commented on #25
@Malajda

[2015-04-11 06:33] KratochvilJiri commented on #25
Trošku bych zklidnil emoce z obou stran a soustředil se hlavně na řešení. Díky Pavlovi za reakci na diagram, jeho poznámky jsou k věci a má v nich pravdu, ale tu poslední si mohl zcela jistě odpustit. Ačkoliv věřím, že to měl být spíše vtíp, ocenil bych trošku profesionálnější přístup.

Tenhle projekt je hlavně o řízení, komunikaci a vzájemné spolupráci v týmu. Máme nastaveny nějaké role a zrovna

[2015-04-11 08:55] FilipMatys commented on #25
Poprosím Vojtu, aby mi potvrdil převzetí úkolu, děkuji.

[2015-04-11 08:56] FilipMatys commented on #26
Ahoj Honzo,

Jak pokračují práce? Narazil jsi na nějaký problém?

[2015-04-11 11:40] jlorenc01 commented on #26
Nová verze.

[2015-04-11 15:45] andreamarcelyova commented on #28
Zapis najdete v datovom sklade. Mimochodom, Filip, len taky detail, vsimla som si, ze v navrhu - 3.9 Seznam výjimek chyba popis tlacitka Delete, o ktorom bola rec na schodzke.

[2015-04-11 16:07] azuritus commented on #27
Aktualizoval jsem diagram podle aktuální verze diagramu tříd a vložil ho do datového skladu. Pokud nebudou připomínky a/nebo významné změny v diagramu tříd, považoval bych tuto verzi za finální.

[2015-04-11 16:08] FilipMatys commented on #27
Supr, diky moc

[2015-04-11 16:09] FilipMatys commented on #28
Ok dakujem, mam napisane a doplnim ked sa k tomu dostanem.

[2015-04-12 17:05] FilipMatys commented on #26
Poprosím o "tiché" odebrání Use VyhledatFirmy pro roli Firma, děkuji

[2015-04-12 17:31] S1LL commented on #24
Rozsáhlejší korekce kroků u testů + pár nových testů... nový soubor ve skladě

[2015-04-12 18:46] FilipMatys commented on #21
Doplněn návrh GUI o popisek filtrů a zároveň doplněny chybějící tlačítka a jejich popisky.

[2015-04-12 20:47] jlorenc01 commented on #26
Ok.

[2015-04-13 08:05] FilipMatys commented on #26
Poprosím příště o informování, že změna proběhla. Děkuji (i za tu změnu)

[2015-04-13 08:47] jlorenc01 commented on #26
No tou předchozí zprávou jsem měl na mysli, že změna byla provedena. Ale máš pravdu, příště to uvedu explicitně.

[2015-04-13 08:58] KratochvilJiri opened #29 "3. Schůze se zákazníkem - schvalení Návrhu"
Dnes v 16:00 v C236 proběhne 3.schůze se zákazníkem za účelem schválení návrhu.
Potencionální účastniky schůze jsem již kontaktoval prostřednictvím telefonu jedná se o: @FilipMatys, @andreamarcelyova, @LiborMan.

[2015-04-13 10:50] KratochvilJiri commented on #19
Schváleno, uzavřeno.

[2015-04-13 10:50] #19 closed, assigned to nobody

[2015-04-13 10:50] KratochvilJiri commented on #15
Schváleno, uzavřeno.

[2015-04-13 10:50] #15 closed, assigned to S1LL

[2015-04-13 10:53] KratochvilJiri commented on #28
Schváleno, uzavřeno.

[2015-04-13 10:53] #28 closed, assigned to andreamarcelyova

[2015-04-13 11:33] FilipMatys commented on #25
Ještě podle připomínek Pavla bych poprosil sjednocení výčtových typů. Dnes prezentujeme, ale ve finální verzi by bylo dobré to mít.

Dejte mi, prosím, vědět, že berete na vědomí. Rozdělte si práci podle časových možností:
@xlenga01
@Malajda

[2015-04-13 12:43] xlenga01 commented on #25
Nahodil jsem do skladu excellClassv3.pdf - dva datove typy jsem sjednotil, ale attachement a deadline jsem nechal zvlast, pac v deadlinu jsou dve hodnoty navic, takze mi to prijde cistci nechat to oddelene...

[2015-04-14 13:19] KratochvilJiri opened #30 "3. Schůze programového týmu"
Program:
Rozdělení implementačních prací. Myslím, že by neměl být problém to během hodinky maximálně rozdělit.

Termíny:
http://doodle.com/q5cyuw8k6ks35fmi

[2015-04-15 11:25] FilipMatys commented on #25
Poprosím o následující změny:
- Participation:Funds nahradit Participation:ExpectedPayment
- Conference:Date nahradit Conference:DateFrom a Conference:DateTo

Děkuji a výsledek poprosím ve formátu PNG. Děkuji
@xlenga01

[2015-04-15 11:25] FilipMatys commented on #27
Děkuji za sekvenční diagramy. S tím, co je vytvořeno, si vystačíme.

[2015-04-15 11:25] #27 closed, assigned to azuritus

[2015-04-15 11:25] FilipMatys commented on #24
Děkuji

[2015-04-15 11:25] #24 closed, assigned to S1LL

[2015-04-15 11:27] FilipMatys commented on #26
Poprosím ještě z Firma odebrat ZobrazitSeznamFirem, děkuji,

Výsledek poprosím ve formátu PNG, díky

[2015-04-15 13:23] KratochvilJiri commented on #30
Schůzi uděláme zítra 10:00-11:00, bohužel se už nedostanu do školy, takže nestihnu zamluvit konferenční místnost. Sraz dáme klasicky v knihovně a pak se někam přesuneme, třeba bude nějaka konferenčka volná.

[2015-04-15 15:29] FilipMatys commented on #26
Muzu dnes ocekavat zmeny? Dekuji

[2015-04-15 15:29] FilipMatys commented on #25
Muzu dnes ocekavat zmeny? Dekuji

[2015-04-15 16:07] xlenga01 commented on #25
Ok, je to ve skladu v png i pdf.

[2015-04-15 16:43] FilipMatys commented on #25
Ještě se omlouvám, ale všiml jsem si, že ve výčtových typech DeadlineType chybí:
- contract
  Poté zaměnit:
- propagVideo za propagPaper
- videoconferention za videoPresentation (v podstate tak, jak je to v AttachmentType), v tomto případě nevím, jestli by nebylo lepší to sloučit, podobně jako předtím ExceptionType, jelikož AttachmentType je podmnožina DeadlineType

[2015-04-15 16:49] xlenga01 commented on #25
chyby opraveny, nahrano, ja bych to teda neslucoval, ale muzem se o tom pobavit zitra

[2015-04-15 18:42] jlorenc01 commented on #26
Změny nahrány. Jen je třeba do výsledného dokumentu přepsat ty 2 poznámky z use_case.pdf (nejsou součástí obrázku, use_case.pdf je dokument vysázený v Latexu).

P.S. Omlouvám se za zpoždění, venku bylo hezky.

[2015-04-16 06:52] FilipMatys commented on #26
Supr, díky

[2015-04-16 06:52] #26 closed, assigned to jlorenc01

[2015-04-16 10:40] andreamarcelyova commented on #29
Zaznam o schodzke je v datovom sklade, pozrite sa potom na to, nie som si uplne ista ci to malo byt takto a ci je tam vsetko..

[2015-04-16 14:37] FilipMatys opened #31 "Obrazovka: Participations"
Spolu s obrazovkou vytvoř i entitu Participations

[2015-04-16 14:37] FilipMatys opened #32 "Obrazovka: Companies"
Spolu s obrazovkou vytvoř i entitu Company

[2015-04-16 14:38] FilipMatys opened #33 "Obrazovka: Login"
Spolu s obrazovkou vytvoř i entitu User

[2015-04-16 14:40] FilipMatys opened #34 "Obrazovka: Recover password"

[2015-04-16 14:49] FilipMatys opened #35 "Obrazovka: Conference settings"
Vytvoř obrazovku pro nastavení konference. Upload souborů zatím neřeš. Společně s obrazovkou vytvoř i entitu Conference

[2015-04-16 14:51] FilipMatys opened #36 "Obrazovka: Users"

[2015-04-16 14:51] FilipMatys opened #37 "Obrazovka: Exceptions"
Spolu s obrazovkou vytvoř entitu Exception

[2015-04-16 18:27] FilipMatys commented on #3
Výborně, děkuji

[2015-04-16 18:27] #3 closed, assigned to azuritus

[2015-04-17 12:00] FilipMatys opened #38 "Datový model"
Vytvoreni datoveho modelu podle class diagramu

[2015-04-17 14:58] jlorenc01 commented on #38
Poznámky:

Atributy:

Date - rezervované slovo, nelze použít pro názvy atributů, přejmenoval jsem
Výčtový typ - není, použil jsem String/Choice List..., konzultováno s Pavlem
Attachement.Data - typ Binary
User.Email - použil jsem Email Address místo String
User.Phone - String, existuje tam typ Phone Number, ale asi s US formáty
Conference.GoldMin, ... - zatím jsem nechal double, ale je tam typ Mon

[2015-04-17 15:37] FilipMatys commented on #38
Super, diky.

Ad Conference.GoldMin)
Pavel zmiňoval, že na peněžní částky se hodí decimal, takže pokud je tam ten, tak bych ho tam využil.

Ad User(1) to Company(0..1)
Počítal bych s tím, že s uživatelem se odebere firma. Osobně nepovažuji za problém, proto za mě cascade

Ad User(M) to Participation(N))
Supr, to jsem chtěl navrhnout. Jedná se o vazbu Kontaktní osoba - Účast

[2015-04-17 16:42] jlorenc01 commented on #38
Money je založen na Decimal, tzn. dal jsem tedy zatím typ Money, currencyCode: Kč.

U všech stringů je zatím implicitní délka (255).

[2015-04-17 20:57] KratochvilJiri commented on #29
Co se struktury dokumentu a obsahu týká, tak z toho co říkal asistent to stačí. Jen tu mám tři poznámky.

1)
Pochopil jsem to tak, že obdržen částka se má přejmenovat na příslíbenou a zároveň přidat flag zaplaceno/nezaplaceno. Takže pokud nejsu vedle a souhlasí s tím i ostatní, tak to tam prosím připiš.

2)
Říkal, že by bylo dobré vytvořit metriky projektu před započetím implementace. Takže to byc

[2015-04-17 20:59] KratochvilJiri commented on #12
Doufám, že jste již všichni seznámeni. Zavirám tento úkol. Pokud by někdo zpětně hledal výše zmíněné odkazy. Issues -> closed.

[2015-04-17 20:59] #12 closed, assigned to nobody

[2015-04-17 20:59] KratochvilJiri commented on #30
Nekonala se - rozdělení práce vyřízeno elektronicky.

[2015-04-17 20:59] #30 closed, assigned to nobody

[2015-04-17 21:02] FilipMatys commented on #25
Poprosim o zapracovani:
User(M) to Participation(N) - přidána tabulka UserParticipation pro rozdělení M:N

Více v issue #38

[2015-04-17 21:06] KratochvilJiri opened #39 "Navržení sledovaných metrik"
Navrhni alespoň 10 metrik, které budou měřeny a hodnoceny na výsledném produktu.

Assistant zmiňoval, že by bylo dobré mít metriky před započetím implementace a měly by se k jednotlivým etapám. Mluvil i např. o metrice "komunikace" - četnost komunikace. Tak se prosím porozhlédni, co je možné vše měřit a zkus navrhnout nějaké metriky. Napíší ti k tomu ještě něco na skypu a v případě problému mě kon

[2015-04-17 21:09] FilipMatys commented on #29
3)
Z mého pohledu hodně závislé na požadavku klienta. Na schůzi se s námi bavil spíše jako asistent.

Chápal bych mazání konference jako totální, tedy její kompletní smazání včetně všech vazeb (přílohy + účasti + účastnící) a to z toho důvodu, aby bylo uvolněno místo na disku.

Souhlasím ale s návrhem umožnit mazání pouze zatím neaktivních konferencí. Původně to tak bylo zamýšleno

[2015-04-17 21:14] KratochvilJiri opened #40 "Konfigurační řízení"
Vypracuj dokument Konfigurační řízení. Šablona je v zadání. Dokument by měl obsahovat následující body:

1) Úvod
2) Rozdělení kompetencí členů týmu (kdo co programuje) a jméno manažera fáze.
3) Popis vývojové platformy.
4) Jaké bude používáno softwarové vybavení (překladače editory, správa projektu, správa verzí, built nástroje), !! způsob zálohování !!.
5) Mechanizmy pro zajištění vzájemné komuni

[2015-04-17 21:28] KratochvilJiri opened #41 "Dokumentace zdrojového kódu"
Jsi zodpovědný a řídíš výtvoření dokumentace zdrojových kódu aplikace, takže bych tě poprosil, aby jsi určil nebo alespoň navrhl, jakým způsobem bude dokumentace prováděna. Myslím, že nejlepší a už jsme se o tom asi i bavili, by bylo generovat dokumentaci přímo z Visual Studia, či pomocí jiného nástroje.

Pokud souhlasíš, měl by jsi zajistit, aby všichni členové průběžně komentovali svůj kód a dod

[2015-04-17 21:34] KratochvilJiri commented on #29
3) Tedy, tak jak jsem psal výše ano? Pokud, nikdo nevznese nějakou námitku do zítra odpoledne. Poprosím o zapracování tohoto bodu do zápisu. Mazání pouze neaktivních a neuzavřených konferencí včetně všech návazností.

[2015-04-17 21:36] KratochvilJiri opened #42 "Dokument - zápis ze 3. schůze se zákazníkem"
Vypracuj zápis ze 3. schůze se zákazníkem, kde byl projednáván Návrh aplikace.

Jen pro přehlednost přiřazuji zpětně.

[2015-04-17 23:36] FilipMatys opened #43 "Obrazovka: Settings"
Tvým hlavním úkolem bude zvládnutí problematiky "dlaždic". Nemusíš řešit stylování této komponenty, připrav však její hrubou implementaci s odkazem na použitý zdroj, či popiš myšlenku, s jakou si komponentu vytvořil.

Dlaždice, nebo také Tile, by měla umožňovat:
- Vložení textu
- Vložení ikony
- Vložení nadpisu (ve své spodní části)

Jako nástřel můžeš použít:
http://blog.ofanitguy.com/2013/11/13/

[2015-04-18 13:16] FilipMatys commented on #25
Budeš mít dnes čas na provedení změn? Děkuji

[2015-04-18 17:21] andreamarcelyova commented on #42
Zmeny som doplnila, snad uz je to teda vsetko, zaznam v datovom sklade.

[2015-04-19 10:41] FilipMatys opened #44 "Mazání entit"
Zkonzultujte, prosím, společně s Honzou @Lorry1 mazání entit v rámci datového modelu. Jedná se o vlastnosti Restricted, Cascade... Je nutné, aby toto bylo vhodně nastaveno.

Výsledek, prosím, reportujte a implementujte do datového modelu projektu. Pokud bude nutná implementace Delete queries pro jednotlivé entity, tak na tuto implementaci upozorněte zde.

Děkuji

Edit:
<i>Association 'Note_Partici

[2015-04-19 17:49] jlorenc01 commented on #25
Ve třídě Participation chybí sponsorshipLevel a příznak isPaid.

[2015-04-19 17:52] FilipMatys commented on #25
Tady poprosím o vyjádření ostatních členů týmu. Momentálně je myšleno následovně:
- úroveň sponzorství je odvozována, neukládá se
- příznak isPaid je dán stavem Paid pro workflow účasti

[2015-04-19 18:20] KratochvilJiri commented on #25
Podle mě to takhle stačí.

[2015-04-19 20:44] FilipMatys opened #45 "Úprava stylopisu"

[2015-04-19 21:01] FilipMatys commented on #25
Mimo jiné chybí specializace pro kontaktní osobu. Poprosím taktéž o doplnění

[2015-04-19 21:07] FilipMatys opened #46 "Chybějící atribut specializace pro entitu User"
Požadavkem pro kontaktní osobu FITu bylo, aby bylo umožněno připsat ke kontaktním osobám jejich specializaci. Bohužel, úpravami datového modelu se nám podařilo tento požadavek "vyřadit".

Poprosím o:
- Doplnění do datového modelu (konzultace s Tomášem)
- Do detailu uživatele (nevím, zda má Pavel hotovo, raději se zeptej)

[2015-04-20 06:56] jlorenc01 commented on #25
Ve své poznámce jsem asi trochu promíchal návrh tříd s tím, jak se to dělá v LS (jak jsem to pochopil):

V LS je třeba přidat do entity (Participation) nový atribut pro vypočítanou hodnotu (sponsorshipLevel), zatrhnout checkbox isComputed a napsat metodu pro vypočtení toho atributu. Potom je možné tento atribut zobrazit na obrazovce a pokud jsem to správně pochopil, do databáze se tento atribut ne

[2015-04-20 09:46] FilipMatys commented on #25
Dobra poznamka. Poprosim tedy uroven sponzorstvi taktez pridat do diagramu trid.

[2015-04-20 09:56] KratochvilJiri commented on #16
Bylo by fajn to rozjet. Ja totiž například nemůžu monitorovat výslednou práci jelikož mám Mac. Verze bychom mohli aktualizovat v nějakých periodách a nebo já se toho klidně můžu ujmout.

Filipe zkusíš to tedy rozjet jak jsme se bavili?

[2015-04-20 10:00] KratochvilJiri commented on #42
Fajn. Ve skladu dokumentu jsem soubor rovnou přejmenoval. Díky za opravy. Uzavřeno.

[2015-04-20 10:00] #42 closed, assigned to andreamarcelyova

[2015-04-20 10:10] KratochvilJiri commented on #25
Poprosim přidat textový popisek, že se jedná o odvozený atribut.

[2015-04-20 10:14] jlorenc01 commented on #25
V tom případě tedy i isPaid. Ten bude taky computed (state == paid or complete => ispaid = Yes, other => isPaid = No).

[2015-04-20 10:17] FilipMatys commented on #25
To uz mi zacina smrdet, ale pokud nema nekdo dalsi namitky, tak ok.

[2015-04-20 10:19] KratochvilJiri commented on #25
Souhlas.

[2015-04-20 10:22] FilipMatys commented on #16
Jdu na to

[2015-04-20 11:54] FilipMatys commented on #16
https://excellenttest.azurewebsites.net/htmlclient

[2015-04-20 12:19] FilipMatys opened #47 "Vytvoření úvodního uživatele"
Poprosím, pokud je to možné, tak o vytvoření uživatele s právem admin při nasazení aplikace, pokud takový již neexistuje.

Momentálně se díky absenci uživatele nedá na testovací instanci přihlásit.

[2015-04-21 09:27] andreamarcelyova commented on #39
V datovom sklade - rozpracovano/metriky.txt je cca 12 metrik, inspiracia hlavne zo slajdov (5s_soft-metriky.pdf).

[2015-04-21 20:42] xlenga01 commented on #25
OK, omlouvam se, ze to trvalo tak dlouho, nicmene nova verze je ve skladu. Byly provedeny nasledujici upravy:
1, do Participatioon pridany atributy isPaid a sponsorshipLvl
2, do User pridal atribut Specialization
3, misto vztahu M:N mezi user a partitipation pridana tabulka UserPartitipation s odpovidajicimy vztahy

[2015-04-21 20:43] FilipMatys commented on #25
Diky Tome. Nezapomen si zalogovat praci.

[2015-04-21 20:43] #25 closed, assigned to xlenga01

[2015-04-21 23:23] azuritus commented on #47
Výchozí uživatelský účet je možné vytvořit pomocí průvodce nasazením aplikace na záložce Security settings - Yes, create...

[2015-04-22 07:27] FilipMatys commented on #47
Výborně, díky. Takže už tam vlastně je ^^

[2015-04-22 07:27] #47 closed, assigned to azuritus

[2015-04-22 07:36] FilipMatys commented on #16
Údaje pro přihlášení na testovací instanci jsou v datovém skladu ve složce testing

[2015-04-22 07:37] xlenga01 commented on #35
Vytvoreny screeny pro "List konferenci" a "Nastaveni konference" - zatim se jedna o nastrely, je treba dodelat par drobnosti a prodiskutovat jak realizovat zobrazeni deadlinu.

[2015-04-22 07:42] FilipMatys commented on #35
Diky.

Co mas na mysli "zobrazenim deadlinu"?

Poprosim o dodrzovani formatu zprav commitu. #cislo_issue a kratky popis. Popis chapej spis jako o co slo, detailnejsi popisek sem. Tak, jak jsi napsal :)

[2015-04-22 08:03] FilipMatys commented on #46
Přidáno, děkuji

[2015-04-22 08:03] #46 closed, assigned to azuritus

[2015-04-22 08:51] FilipMatys commented on #21
Návrh je po úpravě diagramu tříd nyní ve složce schváleno ve formátu docx

[2015-04-22 09:10] KratochvilJiri commented on #21
Fajn. Návrh bych tedy uzavřel, pokud budou probíhat ještě nějaké další změny. Můžeme ho zpětně otevřít, ať se nám tady teď nemotá.

[2015-04-22 10:12] KratochvilJiri commented on #16
Supr. Aktualizace budeme provádět dle potřeby.

[2015-04-22 10:12] #16 closed, assigned to FilipMatys

[2015-04-22 10:12] #21 closed, assigned to FilipMatys

[2015-04-22 10:13] KratochvilJiri commented on #29
Uzavřeno.

[2015-04-22 10:13] #29 closed, assigned to nobody

[2015-04-22 10:15] #33 closed, assigned to azuritus

[2015-04-22 10:15] #38 closed, assigned to jlorenc01

[2015-04-22 10:19] FilipMatys opened #48 "Obrazovka: Registrace (Public)"

[2015-04-22 10:32] KratochvilJiri commented on #39
Vypada to fajn jen budeme muset zaznamenávat výskyt chyby a dobu řešení (asi v nějakém online dokumentu zase). Chyby v dokumentaci přesně nevím, co je tím myšleno. Jinak napadlo mě ještě pár věcí:
- počet provedených testů - evidoval by tester - @LiborMan
- porovnání času ztraveného návrhem a všemi dokumenty vs. čas strávený samotnou implementací a testováním.
- zkušenosti týmu - člen - stupnice 1

[2015-04-22 10:32] KratochvilJiri commented on #41
Jak jsi se rozhodl? Informoval jsi členy týmu?

[2015-04-22 10:34] KratochvilJiri commented on #40
Jak to vypadá prosim tě? Říkala jsi, že jsi na tom již pracovala. Až bude nějaká první verze, tak ji prosím sdílej a kontaktuj mě. Díky.

[2015-04-22 10:39] KratochvilJiri opened #49 "Dokument - Metriky výsledného produktu"
Vypracuj dokument Metriky výsledného produktu. To co by se mělo měřit již navrhla @andreamarcelyova. Zatím to není zcela uzavřeno, ale budeš měřit tyto metriky. Samozřejmě, pokud tě napadne něco dalšího zajímavého, bude fajn, když to do dokumentu přidáš.

Jinými slovy tvým úkolem je změřit navržené metriky a zpracovat výsledky v dokumentu.

Termín dokončení: do odevzdání projektu.

[2015-04-22 12:38] xlenga01 commented on #35
Opravil jsem par detailu a pridal natvrdo elementy do zalozky "Dates" - zatim tam neni zadny databinding(nevim jak to v LS udelat, obavam se, ze to bude nutne natvrdo pres kod)

[2015-04-22 16:11] FilipMatys opened #50 "Zobrazování odvozených atributů"
Tutorial:
http://lightswitchhelpwebsite.com/Blog/tabid/61/EntryId/185/Computed-Properties-With-the-LightSwitch-HTML-Client.aspx

http://lobfactory.com/blog/?p=31
Tyka se:
IsPaid, Year, SponsorshipLevel

[2015-04-22 16:23] FilipMatys commented on #50
Pozn.: Zvážit možnost/nutnost ukládat odvozené atributy do databáze, protože je nutné nad nimi umožnit filtrování.

[2015-04-22 18:46] jlorenc01 commented on #50
Abych to shrnul, v HTML Client nelze jednoduše zobrazit odvozené (computed) atributy na obrazovku (v Silverlight lze). Toto je možné obejít napsáním JS kódu pro výpočet atributu v PostRender Code (http://www.informit.com/articles/article.aspx?p=2087988&seqNum=8).

Nicméně dalším problémem je, že odvozený atribut nelze využít v dotazech, protože se do databáze neukládá (https://msdn.microsoft.com/e

[2015-04-22 18:54] jlorenc01 commented on #31
Chybí zatím odvozené atributy (issue #50). U atributu ExpectedPayment jsem změnil datový typ z Decimal na String, aby bylo možné zadat rozmezí.

[2015-04-22 20:07] FilipMatys commented on #31
Diky.

Jinak proc rozmezi? Zadavat rozmezi by se melo pouze u filtru, castka by mela zustat decimal. Pokud tedy myslime na to same

[2015-04-22 20:11] jlorenc01 commented on #31
Asi jsem se v dokumentu podíval na špatný řádek (sekci k filtrování). V příštím commitu opravím.

[2015-04-23 14:50] andreamarcelyova commented on #40
Dokument je v datovom sklade - rozpracovano. Potrebovala by som tam doplnit verziu MySQL (ak sa teda pouziva MySQL, ako bolo pisane v specifikacii) a ake nastroje okrem Visual Studia pouzivaju programatori (ak vobec).

[2015-04-23 14:55] andreamarcelyova commented on #39
Jo, ten pocet provedenych testov mi tiez napadlo, ale zabudla som na to ked som to pisala. Doplnila som tam vsetko.

[2015-04-23 14:59] FilipMatys commented on #40
MySQL nepouzivame, pokud se opet nepletu. Na toto se asi zeptej Pavla, nebo nekoho z programoveho tymu.

[2015-04-23 15:34] andreamarcelyova commented on #40
Tiez sa mi to moc nezdalo, nasla som to v specifikacii, ale teda co pouzivame? Pavel nevedel a ze sa mam opytat teba :D

[2015-04-23 15:39] FilipMatys commented on #40
Ok xD Tak ja se vecer mrknu a dam vedet.

[2015-04-23 15:41] FilipMatys opened #51 "Schůze programového týmu"
Ahoj,

Poprosil bych členy programového týmu o účast na schůzi. Programem bude:
- co se udělalo
- jaké jsou problémy
- zhodnocení stavu
- zhodnocení spokojenosti
- procesní záležitosti

Doodle:
http://doodle.com/akm56t5qr7t5phb2

Účast ostatních členů nepovažuji za nutnou, budou se řešit zejména technické věci.

Děkuji

[2015-04-23 18:46] jlorenc01 commented on #40
Externí připojení k databázi zatím není definováno, pokud se nepletu.

Během vývoje se data automaticky ukládají do interní databáze LS (používá SQL Server LocalDB). Při nasazení aplikace lze zvolit libovolnou jinou verzi SQL Server, případně by mělo jít použít i něco jiného, třeba MySQL.

[2015-04-23 20:24] FilipMatys commented on #43
Čau Vojto. Narazil jsi na nějaký problém?

[2015-04-24 09:38] FilipMatys commented on #43
Potřeboval bych vědět, jak jsi na tom, protože tato konkrétní věc začíná mít zpoždění už týden.

[2015-04-24 12:13] FilipMatys commented on #45
Upraven výchozí vzhled aplikace. uzpůsobeno barevné schéma. Zároveň upraven styl tabulek a záložek.

[2015-04-26 09:32] FilipMatys commented on #48
Měním assignee na @xlenga01

[2015-04-26 09:33] FilipMatys commented on #37
Ahoj Honzo, jak jsou na tom filtry? Nezapomeň, že se nejedná Search, ale to Filter.

Díly

[2015-04-26 09:35] FilipMatys commented on #43
Měním assignee na @azuritus Poprosím o potvrzení, děkuji.

Prosím nezapomenout, že komponenta musí být schopná zobrazit data, která jsou v návrhu (Nástěnky).

Děkuji

[2015-04-26 14:35] FilipMatys commented on #51
Schůze se uskuteční v 12:00 –14:00 v úterý, 28.4.2015.

[2015-04-26 19:16] KratochvilJiri commented on #40
Vypadá to fajn. Jen přeposlední kapitola, že zákazník má přístup k momentáním verzím a je s ním diskutováno jak moc se mu to libí či nikoliv a podle toho upravováno, to bych řekl, že je spíš takový nerealizovatelný výkřik... ale klidně to tam nech.

Nerealizovatelné je to ze dvou důvodů - se zákazníkem se dost špatně komunikuje a my nestiháme respektive se neustále opožďují všechny práce a nedokáž

[2015-04-26 20:04] FilipMatys commented on #40
Pokud mi to nikdo nevyvrati, tak bych to videl na Microsoft SQL Server 2012, popripade novejsi

[2015-04-26 22:12] andreamarcelyova commented on #40
Databaza doplnena a dokument je v zlozke ke schvaleni.

[2015-04-27 19:47] azuritus commented on #43
Ahoj, nakonec jsem zvolil řešení založené na http://janvanderhaegen.com/2014/10/06/lightswitch-ux-sharepoint-like-tiles/ kde jsou jednotlivé dlaždice reprezentovány pomocí tlačítek. Idea pro zobrazení dat v dalších nástěnkách je taková, že vytvoříme datový zdroj jako REST service pomocí WebAPI, podobně jako v http://blogs.msdn.com/b/lightswitch/archive/2013/04/22/create-dashboard-reports-with-ligh

[2015-04-27 19:50] FilipMatys commented on #43
Ahoj,

Skvělé, díky :) Zítra to probereme. Během dneška, pokud si najdu čas, tak na to mrknu.

Ještě jednou díky. Po zítřku můžeme začat vytvářet dashboardy a slepovat to dohromady.

[2015-04-27 19:55] azuritus commented on #48
Ahoj, po dohodě s Filipem si beru zpět. Mám už nějak namyšlenou integraci na správu uživatelů a myslím, že takto to bude efektivnější.

[2015-04-27 21:29] FilipMatys commented on #43
Velmi dobře. Nastavení zavírám. Upravil jsem trochu styly a přidal potřebné ikony.

Děkuji

[2015-04-27 21:29] #43 closed, assigned to azuritus

[2015-04-28 13:16] FilipMatys opened #52 "Public Master page"

[2015-04-28 13:18] FilipMatys opened #53 "Časový fond implementačního týmu"
Prosím členy programového týmu o vyplnění tak, jak jsme se domluvili, díky.

http://doodle.com/vvbxwdt9x64x3f9g

@azuritus
@Lorry1
@Malajda
@xlenga01

[2015-04-28 17:27] FilipMatys opened #54 "Mechanismus: Web api pro Microsoft Tile"

[2015-04-28 17:28] FilipMatys opened #55 "Mechanismus: Odkaz s parametry (Nastavení filtru, Select)"

[2015-04-28 17:30] FilipMatys opened #56 "Mechanismus: Upload souborů"

[2015-04-28 21:45] FilipMatys commented on #52
Vytvořena master page s hlavičkou a patičkou. Dále nastylována Login a Recover page. Zítra budu řešit Registrace

[2015-04-29 08:32] FilipMatys commented on #52
Dokončeno.

[2015-04-29 08:44] FilipMatys opened #57 "Výjimka při pokusu o deploy"
![publish_exception](https://cloud.githubusercontent.com/assets/6004042/7387357/ba5295cc-ee5c-11e4-94cd-e1f23be69f3f.png)

[2015-04-29 14:04] FilipMatys commented on #48
Ahoj @azuritus

Honza odebíral z Company duplikáty Phone a ContactPerson (Telefon a Kontaktní osoba firmy), které jsou už v entite User. Poprosím Tě o zapracování těchto změn.

Pokud máš nějaké nesrovnalosti, tak se ozvi Honzovi.

Děkuji

[2015-04-29 14:05] FilipMatys commented on #56
Dávám Honzovi pro řešení od zítřejšího dne.

[2015-04-29 19:15] jlorenc01 commented on #48
Zatím jsem je ještě neodebral, protože by pak nešla aplikace sestavit. Budou odebrány po vyřešení tohoto issue.

[2015-04-29 19:25] jlorenc01 commented on #37
Filtry doplněny. Chybí filtrování dle odvozených atributů, protože je zatím neukládáme do databáze.

Dále asi bude problém s filtrováním podle těch výčtových atributů (Participation.State, User.Role apod.). Žádný multiple select apod. LS nenabízí. Zatím jsem nenašel žádné řešení.

[2015-04-29 19:26] FilipMatys commented on #37
Je možné filtrovat alespoň podle jedné hodnoty? Tzn jednoduchý select?

[2015-04-30 07:28] xlenga01 commented on #35
uploadnul jsem verzi s deadlinama - bohuzel se objevilo nekolik problemu, ktere se mi ani po dost dlouhe dobe nepodarilo vyresit, takze jsem provizorne dal vsechny info o deadlinech do tabulky Conference - pokud zbyde cas, tak se to muze udelat pozdeji tak jak je to v navrhu, ale upozornuji, ze to pravdepodobne zabere dost casu(pokud mi tedy neunikl nejaky opravdu zasadni detail). Kazdopadne vzhle

[2015-04-30 07:30] FilipMatys commented on #35
Konzultoval jsi problém i s někým jiným?

[2015-04-30 07:37] FilipMatys opened #58 "Obrazovka: Detail účasti na konferenci pro kontaktní osobu a admina"
Návrh: 4.16 Obrazovka detailu účasti na konferenci pro kontaktní osobu a admina

[2015-04-30 07:48] xlenga01 commented on #35
Ptal jsem se Pavla, ale k nicemu jsme se nedostali...

[2015-04-30 07:50] xlenga01 commented on #58
Ok, domluvili jsme se, ze tu mame psat co nejvic, takze davam vedet, ze ukol prebiram a zkusim zvladnout behem dneska. Az neco budu mit, dam vedet.

[2015-04-30 12:25] xlenga01 commented on #58
tak je nahozen prvni nastrel - zatim jsou tam dane alespon priblizne potrebne elementy
- neresil jsem tlacitka, bude se tam muset pridelat nekolikrat spesl custom control a rendering js a pro nektere elementy je potreba predavani argumentu screenu a samozrejme prace se soubory....
  -dneska se na to este trochu mrknu, ale vzhledem k tomu, ze nejsou pripraveny formy pro vkladani dat, tak se to test

[2015-04-30 13:23] jlorenc01 commented on #56
Nevím, kdy se k tomu dostanu. Potřebuju dělat na PRL a FLP.

[2015-04-30 13:26] FilipMatys commented on #56
Tvůj časový fond platí?

[2015-04-30 19:10] FilipMatys commented on #35
Ok. Můžeme tedy aktuální implementaci považovat za Resolved?

[2015-04-30 19:41] FilipMatys commented on #41
Domluvilo se, že dokumentace zdrojového kódu bude psána v anglickém jazyce. Dokumentace aplikace bude generována pomocí nástroje Microsoft Visual Studio.

[2015-04-30 19:52] xlenga01 commented on #35
Co se tyce funkcnosti, tak by tam melo byt vsechno...
- jen nejsou resena tlacitka co maj byt dole - tos mi rikal, at zatim neresim

[2015-04-30 19:53] FilipMatys commented on #35
Ok, díky. Budeme řešit tehdy, jakmile budeme dávat dohromady aplikační logiku.

[2015-04-30 20:36] xlenga01 commented on #55
ok, takze jak predat screenu parametry:
vypada to, ze moznosti je vic, ale ta zakladni je nasledujici:
mejme situaci, kdy z prehledu polozek (tabuka People) chceme poslat nejaky atribut (name) do addEditNewScreenu:

1, vlezu do addEditNewScreenu a vytvorim si novou datovou polozku("add Data Item", typ string), po vytvoreni v Properties zaskrtnu "is Parametr"
2, V prehledu pro People vytvorim tlaci

[2015-04-30 20:37] FilipMatys commented on #55
Díky. Nezapomeň si zalogovat práci

[2015-04-30 20:49] FilipMatys commented on #35
Poprosím o odebrání nepotřebného kódu. Dávejte si, prosím, na to pozor. Může se to stát každému, ale stávat by se to nemělo. Své změny vždy kontrolujte před commitnutím, aby tam bylo opravdu to, co má být.

Jedná se o soubory:
\DataSources\ApplicationData\Conference.lsml.cs
\DataSources\ApplicationData_ApplicationDataService.lsml.cs

Děkuji

[2015-04-30 21:04] xlenga01 commented on #35
done and pulled, moje chyba(mel jsem dojem, ze jsem vsechny zmeny z toho, kdyz jsem si s tim hral discartnul - krome techle dvou veci vsechno ostatni zmizelo...), kazdopadne sry a dik za upozorneni

[2015-04-30 23:10] jlorenc01 commented on #56
Existuje zase hodně step by step tutorialů pro Silverlight, ale málo pro HTML Client. Jako použitelné se mi zatím jeví

http://www.codeproject.com/Articles/580017/LightSwitch-HTML-Picture-Manager-Using-WCF-RIA-Ser

V tutorialu je upload obrázků, ale mělo by to být použitelné i s jinými typy souborů. Akorát je to zase přes WCF RIA Services.

[2015-05-01 07:32] FilipMatys commented on #56
Dá se použít více možností:

Doinstalovat doplněk
http://blogs.msdn.com/b/bethmassi/archive/2012/11/22/building-an-html-client-for-a-lightswitch-solution-in-5-minutes.aspx

Web API:
http://blog.pragmaswitch.com/?p=1430

[2015-05-01 08:10] jlorenc01 commented on #56
http://blog.pragmaswitch.com/?p=1430 jsem pochopil, že není pro HTML Client.

http://blogs.msdn.com/b/bethmassi/archive/2012/11/22/building-an-html-client-for-a-lightswitch-solution-in-5-minutes.aspx Zde má zase Silverlight aplikaci a vkládá tam HTML Client aplikaci. My máme pouze HTML Client a přidáním tohoto bys měl 2 HTML Clienty, což teda asi možné je, ale nevím, jak to pak funguje.

EDIT: Tak

[2015-05-03 20:34] KratochvilJiri commented on #40
Schvaleno, poprosim o presunuti do slozky schvaleno.
Uzavřeno.

[2015-05-03 20:34] #40 closed, assigned to andreamarcelyova

[2015-05-04 07:11] FilipMatys commented on #54
Vycházej z https://github.com/FilipMatys/MPR2015/issues/43

[2015-05-04 07:12] FilipMatys commented on #58
Mrkni na https://github.com/FilipMatys/MPR2015/issues/56 a dodelej prosim obrazovku

[2015-05-04 07:36] FilipMatys opened #59 "Dashboard: Admin"

[2015-05-04 07:36] FilipMatys opened #60 "Dashboard: Kontaktní osoba"

[2015-05-04 08:00] FilipMatys opened #61 "Dashboard: Firma"

[2015-05-04 09:35] azuritus commented on #57
Narazil jsem na drobný problém s vlastním MembershipProviderem, takže jsem to nakonec musel vyřešit ne úplně pěkným způsobem, ale fungovat by to už mělo.

[2015-05-04 09:36] azuritus commented on #48
Registrační obrazovku jsem upravil tak, aby tyto atributy nevyužívala.

[2015-05-04 10:09] FilipMatys commented on #57
Funkční, děkuji.

[2015-05-04 10:09] #57 closed, assigned to azuritus

[2015-05-04 10:10] FilipMatys commented on #59
Pokud máš čas se věnovat MPR, tak si můžeš převzít i WebAPI issue, který je Prec k tomuto issue. Děkuji

[2015-05-04 10:15] azuritus commented on #54
Na základě #59 si beru issue a mrknu na to.

[2015-05-04 11:45] azuritus commented on #54
Vyřešeno v rámci #59

[2015-05-04 11:46] azuritus commented on #59
Implementovány dlaždice a data do nich, zbývá dořešit funkčnost po stisku některých z nich (přechod na obrazovky s implicitním filtrem).

[2015-05-04 12:43] FilipMatys commented on #59
Ok,děkuji. Předávám Tomovi, který měl na starosti zmíněný mechanismus.

[2015-05-04 13:18] FilipMatys commented on #59
Dotaz:
Je možné přidat tlačítko vpravo nahoru? (Podobně, jako tlačítko Logout)

[2015-05-04 13:19] FilipMatys opened #62 "Obrazovka: Detail účasti na konferenci pro firmu"
Inspiruj se #58.

Pokud na tom nejsi časově dobře, tak dej vědět, díky.

[2015-05-04 13:25] FilipMatys commented on #61
Větší objekt nahoře je vždy aktuální konference, ikdyž daná firma nemá zájem o účast. Rozkliknutí zatím neřeš, hlavně aby tam byla. Aplikační logiku pořešíme později.

Pod objektem aktuální konference je výčet minulých účastí firmy.

Vše dle návrhu, jen pro upřesnění.

[2015-05-04 13:26] FilipMatys commented on #60
Velmi podobně, jak dělal Pavel. Dej vědět, jak jsi na tom časově

[2015-05-04 13:28] FilipMatys commented on #62
Dávám Tomovi

[2015-05-04 14:43] FilipMatys opened #63 "HTTPS protokol pro excel@FIT prezentaci"
Momentálně naše aplikace běží nad https protokolem, přičemž zdrojové kódy pro stejnou funkcionalitu a vzhled jsou brány z původních stránek excel@FIT. Jejich web však nepodporuje protokol https, proto je jejich kód z naší strany blokován.

[2015-05-04 14:44] FilipMatys commented on #52
#63

[2015-05-04 15:00] FilipMatys opened #64 "Nelze vytvořit roli Firma"
Předpokládám, že se jedná o stejný problém, jako registrace.

![user_bug](https://cloud.githubusercontent.com/assets/6004042/7455732/fb7822d0-f27e-11e4-8e8a-6397c45ebcab.png)

[2015-05-04 15:08] FilipMatys commented on #50
Jedná se o problém, který jsme řešili na schůzi. Říkal jsi, že tomu dáš chvíli času. Pokud ten čas nemáš, nebo ho považuješ za zbytečný, tak použijeme záložní řešení a budeme atributy natvrdo ukládat do databáze --> Dej assignee na @Lorry1

Děkuji

[2015-05-04 15:10] FilipMatys commented on #61
Předávám Vojtovi

[2015-05-04 15:10] FilipMatys commented on #60
Nemám zpětnou vazbu, takže dávám Pavlovi

[2015-05-04 15:44] azuritus commented on #64
Vyřešeno odstraněním dotčených atributů z modelu.

[2015-05-04 16:53] azuritus commented on #60
Implementováno.

[2015-05-04 16:57] azuritus commented on #50
Půl hodinky jsem nad tím laboroval, ale k žádnému rozumnému pokroku jsem nepřišel. Všechny popsané možnosti jsou dost náročné, takže bych asi zůstal u možnosti počítat hodnoty aplikační logikou a mít je uložené v databázi.

[2015-05-04 17:04] FilipMatys commented on #50
Ok, díky. Poprosím tedy Honzu o implementaci

[2015-05-04 17:42] FilipMatys opened #65 "Nezobrazuje se počet firem na dlaždici Registered companies"
Funguje po startu aplikace, po refreshi a po opuštění stránky se číslo již nezobrazuje.

[2015-05-04 18:03] FilipMatys commented on #64
Zavírám, díky

[2015-05-04 18:03] #64 closed, assigned to azuritus

[2015-05-04 19:53] FilipMatys commented on #37
Poprosím o odpověď, děkuji

[2015-05-04 19:55] FilipMatys commented on #31
Poprosím o dokončení, děkuji. Odvozené atributy ukládat do databáze.

[2015-05-04 21:31] FilipMatys opened #66 "Přesměrování na obrazovku role po přihlášení"
Po přihlášení uživatele je potřeba provést přesměrování na správnou obrazovku. Poprosím o implementaci.

Pozn.: Dashboard pro firmu má na starosti Vojta
https://github.com/FilipMatys/MPR2015/issues/61

Edit: Špatná reference

[2015-05-04 21:33] FilipMatys commented on #63
Bude kontaktován p.Trchalík.

V případě, že nebude možné https na webu povolit, tak jako plán B:
- Stažení zdrojového kódu do aplikace

[2015-05-05 04:46] FilipMatys commented on #61
Prosím, v případě nedokončení mi zde chybí report, děkuji

[2015-05-05 09:32] azuritus commented on #66
Implementováno, na lokálním stroji nemusí fungovat úplně korektně, případně se na to ještě podívám večer.

[2015-05-05 10:03] FilipMatys commented on #58
Poprosim, mrkni na upload souboru. Tomas se zatim pusti do detailu ze strany firmy. Dekuji

[2015-05-05 10:55] jlorenc01 commented on #37
Zkusil jsem si s tím hrát, ale zatím bez úspěchu. S použitím lookup table by ten jednoduchý šel určitě (stavy by byly v databázi v jiné tabulce). S tím choice listem nevím, ještě na to kouknu.

[2015-05-05 14:28] KratochvilJiri commented on #63
Kontaktován dnes brzy ráno. Zatím bez odpovědi. Jelikož má dneska poslat informace k ukončení projektu, budeme doufat, že odpoví i na tuto otázku.

[2015-05-05 14:35] KratochvilJiri commented on #39
Super diky. Uzavřeno.

[2015-05-05 14:35] #39 closed, assigned to andreamarcelyova

[2015-05-05 14:35] KratochvilJiri commented on #41
Ví všichni jak vytvářet komentáře, aby nebyl problém následně generovat dokumentaci?

[2015-05-05 14:45] KratochvilJiri opened #67 "Dokument - referenční příručka"
Jakmile to bude možné vypracuj dokument referenční příručka. Vzor je na public stránkách předmětu. V případě nejasností mě kontaktuj.

[2015-05-05 14:49] KratochvilJiri commented on #51
Schůze se konala, zápis se nachází v datovém skladu.

[2015-05-05 14:49] #51 closed, assigned to FilipMatys

[2015-05-05 14:51] KratochvilJiri opened #68 "Dokument - zápis z 3. schůze programového týmu"
Vypracuj zápis z 3. schůze programového týmu.

[2015-05-05 14:51] KratochvilJiri commented on #68
Výpracováno, schváleno. Poprosím pouze o změnu řádku stav v uvodní tabulce dokumentu z rozpracováno na schváleno. Díky.

[2015-05-05 14:51] #68 closed, assigned to nobody

[2015-05-05 14:54] KratochvilJiri opened #69 "Dokument - zpráva o testování, změnové řízení"
Vypracuj dokument Zpráva o testování, změnové řízení. Vzor je na public stránkách předmětu. V případě nejasností mě kontaktuj.

Jakmile bude hotová první verze, kontaktuj mě.

[2015-05-05 14:58] KratochvilJiri opened #70 "Dokument - Sledování a vyhodnocení trvání prací na projektu/Data o příčinách chyb ve vašem projektu/Logická rámcová matice"
Vyber si jeden ze tří dokumentů:
- Sledování a vyhodnocení trvání prací na projektu
- Data o příčinách chyb ve vašem projektu
- Logická rámcová matice

A vypracuj ho. V případě nejasností mě kontaktuj. Logická rámcová matice byla probírána například v předmětu PMA, takže by jsi mohla čerpat odtud.

Jakmile vypracuješ první verzi, kontaktuj mě.

[2015-05-05 15:07] KratochvilJiri opened #71 "Dokument - Zhodnocení projektu"
Vypracuj dokument zhodnocení projektu. Vzor je opět na public stránkách předmětu.

Zkus začít pracovat na tomto dokumentu, ikdyž není projekt zcela hotov. Jedná se o pár odstavců. Nedostatky můžeme doplnit později podle toho jak dopadne implementace. Ohledně hodnocení členů týmu se ti ozvu na skype.

Jakmile bude vytvořena první verze, kontaktuj mě (stačí zde).

[2015-05-05 16:22] FilipMatys commented on #66
Po deployi se zobrazí Home stránka, která je prázdná, stejně tak lokálně. Vyzkoušeno pro admina i pro firmu po registraci.

[2015-05-05 16:34] FilipMatys commented on #66
Oprava: Nefunguje pro firmu (Předpokládám ale, že bude doplněno po Vojtovi)

[2015-05-05 16:34] FilipMatys commented on #61
Jak to, prosím, vypadá?

[2015-05-05 18:51] FilipMatys opened #72 "Přídání tlačítka Settings do Dashboard: Admin"

[2015-05-05 18:54] FilipMatys opened #73 "Tlačítko "Set as active" pro detail konference v nastavení"
Funkcionalita by měla být zřejmá z návrhu. Poprosím dnes o vyjádření, díky

[2015-05-05 18:56] FilipMatys commented on #37
Jak jsi na tom, prosím? Daří se Ti nějak pokročit?

[2015-05-05 18:57] FilipMatys commented on #73
Poprosím i o "Set as close" a odstranění checkboxu, děkuji

[2015-05-05 19:16] azuritus commented on #56
Na základě #58 si přiřazuji.

[2015-05-05 19:18] azuritus commented on #56
Implementováno. Nakonec jsem se vydal cestou popsanou v http://blogs.msdn.com/b/bethmassi/archive/2012/11/22/building-an-html-client-for-a-lightswitch-solution-in-5-minutes.aspx . Výsledek lze využít že v render Custom Control se přidá jeden řádek:

[code]

[2015-05-05 19:20] FilipMatys commented on #56
Skvělé! Děkuji

[2015-05-05 20:09] FilipMatys opened #74 "Obrazovka: AddEditUser - Participate in the upcoming event"
Pro firmu je pouze Read-only a zobrazuje se i u ostatních roolí

[2015-05-05 20:10] azuritus commented on #65
Bylo to tam dost zamotané, s pomalým prohlížečem to fungovalo dobře pořád, ale snad už je to ok.

[2015-05-05 20:29] azuritus commented on #74
Vyřešeno.

[2015-05-05 20:44] KratochvilJiri commented on #63
Odpověď:

Dobry den,
bohuzel nemam vubec poneti, kdo to ma na starosti.
S pozdravem
Roman Trchalik

[2015-05-05 20:49] KratochvilJiri opened #75 "Obhajoba projektu"
Dnes mi přišly pokyny k obhajobě. Poprosím o vyjádření všech členů k termínům. Jelikož to 7.5 nestiháme, tak bych poprosil, co nejrychlejší reakci všech ať se můžu pokusit zarezervovat jeden z termínu 11.5. Pište rovnou sem jestli 14:00 nebo 15:15 nebo je vám to jedno. Mně osobně je to jedno.

Pokyny:
Dobrý den,
dejte mi prosím vědět, kdy byste chtěli obhajovat Váš projekt.
Nabízené termíny:
- čtv

[2015-05-05 20:51] FilipMatys commented on #75
Mě je termín v pondělí taky jedno

[2015-05-05 20:57] S1LL commented on #75
My s Honzou máme od 2 do 4 zkoušku, ale možná to bude hodina jenom....

[2015-05-05 20:57] ghost commented on #75
15:15

[2015-05-05 20:58] KratochvilJiri commented on #75
Čím dal lepší.. Pišu mu teda 15:15 11.5.

[2015-05-05 20:59] andreamarcelyova commented on #75
11.5., je mi jedno ktory cas

[2015-05-05 20:59] S1LL commented on #75
zkus to posunout o pul hodinky pro klid duše

[2015-05-05 21:01] KratochvilJiri commented on #75
Napsal jsem mu jestli by to slo  v 15:45. Tak budeme vidět.

[2015-05-06 06:44] KratochvilJiri commented on #75
Dobry den, posunu vas o 75min na 16:30, souhlasite? RT

Počítejte tedy s časem 16:30 v pondělí.

[2015-05-06 07:34] KratochvilJiri opened #76 "Prezentace výsledného produktu"
Připrav se prosím, že odprezentuješ výslednou aplikaci na závěrečné obhajobě. Jedná se jen o "proklikání" aplikace se stručným komentářem.

[2015-05-06 07:38] KratochvilJiri opened #77 "Odhad ceny produktu"
Každý jste měli v rámci druhého úkolu vytvořit odhad ceny výsledného produktu k určitému datu. Jelikož tento vývoj má být prezentován na závěrečné obhajobě, vložtě všichni vaše odhady na google-drive. Vytvořil jsem tam složku "odhad-ceny".  Pokud možno to pojmenujte nacačátku datumem. Ja tám ted vložím svůj, takže budete mit vzor názvu souboru. Díky.

@azuritus @xlenga01 @FilipMatys @andreamarcely

[2015-05-06 07:44] FilipMatys commented on #76
Beru na vědomí

[2015-05-06 08:15] xlenga01 commented on #73
Ok, mrknu dneska na to a uvidim co se da delat. Behem dneska este diztak napisu.

[2015-05-06 12:54] jlorenc01 commented on #49
Nahrál jsem do skladu dokumentů první verzi.

[2015-05-06 12:56] KratochvilJiri opened #78 "3. Týmový schůze"
Na schůzi bude navrženo a projednáno hodncení jednotlivých členů týmu.
Schůze se uskuteční v knihovně 6.5 od 10:00.

[2015-05-06 12:57] KratochvilJiri opened #79 "Dokument - Zápis z 3. týmové schůze."
Vypracuj zápis z 3. týmové schůze.

[2015-05-06 12:57] KratochvilJiri commented on #78
Uzavřeno.

[2015-05-06 12:57] #78 closed, assigned to nobody

[2015-05-06 12:57] KratochvilJiri commented on #79
Dokument ve skladu, schváleno.

[2015-05-06 12:57] #79 closed, assigned to andreamarcelyova

[2015-05-06 13:16] KratochvilJiri commented on #71
Vypracována první verze a uložena v datovém skladu. Chybí dopracovat nedostatky projektu a na základě implementace a informací o bodovím hodnocení týmu je možné, že bude nutné přepracovat i tyto kapitoly. Zatím bych nechal dokument v rozpracováné podobě.

[2015-05-06 13:23] KratochvilJiri commented on #70
Vybrán dokument sledování vyhodnocování trvání prací. Dokument byl vypracován a může být přesunut do složky "ke schválení".

[2015-05-06 13:28] FilipMatys commented on #77
Vypracováno a vloženo do skladu

[2015-05-06 13:32] #72 closed, assigned to FilipMatys

[2015-05-06 13:32] #65 closed, assigned to azuritus

[2015-05-06 13:33] #66 closed, assigned to azuritus

[2015-05-06 13:33] #56 closed, assigned to azuritus

[2015-05-06 13:33] #74 closed, assigned to azuritus

[2015-05-06 13:34] #54 closed, assigned to azuritus

[2015-05-06 13:34] #48 closed, assigned to azuritus

[2015-05-06 13:34] #36 closed, assigned to azuritus

[2015-05-06 13:34] #34 closed, assigned to azuritus

[2015-05-06 13:35] #53 closed, assigned to FilipMatys

[2015-05-06 13:35] #52 closed, assigned to FilipMatys

[2015-05-06 14:01] FilipMatys commented on #61
Dashboard už je implementován. Došlo k zaměnění obrazovek. Vypracováno @azuritus

[2015-05-06 14:02] FilipMatys commented on #59
Tlačítko vyřešeno

[2015-05-06 14:04] FilipMatys commented on #60
Pavlíčku, došlo k záměně obrazovek.
ContactPersonDashboard Je potřeba přejmenovat na Company Dashboard, funkcionalita by měla odpovídat.

Je potřeba implementovat dashboard pro kontaktní osobu dle návrhu. (Velmi podobné adminovi)

[2015-05-06 14:10] KratochvilJiri commented on #49
Jsou tam vytvořeny pouze metriky produktu - počet řádků kódu, soubor atd. Co se týka struktury této části, tak je to fajn nicméně obsah je v momentalní chvili dost irelevantní jelikož projekt není dokončen.

Dokončení dalších metrik jsem přesunul na @andreamarcelyova, aby jsi se mohl plně věnovat implementační části.

Pokyny k zbývajícím častem byly sděleny @andreamarcelyova na skype, v případě ne

[2015-05-06 14:33] FilipMatys commented on #61
Přejmenováno a nastylováno pro úvodní dlaždici

[2015-05-06 15:26] andreamarcelyova commented on #49
Poprosim tychto clenov timu, aby sa ohodnotili od 1 do 10 podla toho ake maju skusenosti s oblastou, na ktorej pracovali v tomto projekte. Od 1 do 10. Idealne do zajtrajsieho vecera, ak nenapisete, bude vam pridelene nahodne hodnotenie. :)

F. Matys – programování
J. Lorenc – programování
V. Malášek – programování
T. Lengál – programování
L. Maňák – testování, specifikace

[2015-05-06 15:29] andreamarcelyova opened #80 "Skusenosti - (seba)ohodnotenie"
Povodne som to napisala do issue metriky, ale tam si to asi nikto neprecita, takze este raz:

Poprosim tychto clenov timu, aby sa ohodnotili od 1 do 10 podla toho ake maju skusenosti s oblastou, na ktorej pracovali v tomto projekte. Od 1 do 10. Idealne do zajtrajsieho vecera, ak nenapisete, bude vam pridelene nahodne hodnotenie. :)

F. Matys – programování
J. Lorenc – programování
V. Malášek – pro

[2015-05-06 15:30] S1LL commented on #49
Specifikace 1
Testování 5

[2015-05-06 15:38] FilipMatys commented on #61
Poprosím o přejmenování, mě se to podařilo sbourat

[2015-05-06 15:39] FilipMatys opened #81 "Obrazovka: Správa konferencí"

[2015-05-06 15:51] xlenga01 commented on #81
Delam na tom, behem dneska snad uzavru.

[2015-05-06 16:47] azuritus commented on #61
Přejmenováno. Omlouvám se za vyvolaný chaos.

[2015-05-06 16:48] FilipMatys commented on #61
V pořádku, díky. Nakonec dobře, že je udělána právě dashboard firmy

[2015-05-06 16:49] azuritus commented on #58
Jdu na to, pokusím se dokončit.

[2015-05-06 18:57] azuritus commented on #58
Dokončeno, kromě první záložky.

[2015-05-06 19:10] FilipMatys commented on #60
Poprosím o potvrzení převzetí úkolu, děkuji

[2015-05-06 19:36] FilipMatys opened #82 "Zobrazení účasti pro firmu"
Jakmile se firma přihlásí, tak vidí aktuální konferenci. Je potřeba implementovat následující chování v závislosti na stavu:

1) Neexistuje žádná participation dané firmy s vazbou na aktivní konferenci
- Zobrazí se obrazovka pouze se záložkou About a tlačítkem Participate, po rozkliknutí se vytvoří objekt Participation s vazbou na přihlášenou firmu a aktuální konferenci.

2) Existuje vazba na part

[2015-05-06 19:38] FilipMatys opened #83 "Dashboard: Admin - Přidání parametrů pro dlaždice"

[2015-05-06 19:38] FilipMatys opened #84 "Dashboard: Kontaktní osoba - Přidání parametrů pro dlaždice"

[2015-05-06 19:40] FilipMatys opened #85 "Seznam účastí - odkaz na detail"
Ze seznamu účastí je nutné se dostat na detail účasti (konkrétně AddEditParticipationFIT)

Poprosím o implementaci tohoto chování

[2015-05-06 19:41] FilipMatys commented on #80
Filip Matys - 6

[2015-05-06 19:42] FilipMatys opened #86 "Tlačítko "Add new company""
Veškerá tlačítka v aplikaci, která jsou označena jako "Add new company" musí odkazovat na detail nového uživatele typu "Company", je tedy potřeba předávat parametry

[2015-05-06 19:47] FilipMatys opened #87 "Dashboard: Admin - Dlaždice pro aktuální konferenci"
Po kliknutí na dlaždici by se měl zobrazit detail konference.

[2015-05-06 19:49] FilipMatys opened #88 "Password check"
Při ukládání uživatele se ignoruje pole Password check.

[2015-05-06 19:58] jlorenc01 commented on #37
Jednoduchý select implementován.

[2015-05-06 20:04] xlenga01 commented on #81
Pridelany labely a rozdeleno na activni konferenci a zbytek...

[2015-05-06 20:07] FilipMatys opened #89 "Mizení aktivních dlaždic"
Po refreshi a po návratu zpět funguje. Pokud však dojde na kliknutí na Logo aplikace, tak dojde k přesměrování na Home bez aktivních dlaždic.

[2015-05-06 20:13] FilipMatys commented on #81
Po uložení nefunguje korektně, jinak funguje správně. Pokud nepůjde jinak, vyřešíme čistě výpisem konferencí (bez dělení)

[2015-05-06 20:14] azuritus commented on #60
Implementováno. Tentokrát snad správná obrazovka :)

[2015-05-06 20:15] FilipMatys commented on #60
Výborně, děkuji.

[2015-05-06 20:39] azuritus commented on #87
Implementováno.

[2015-05-06 20:57] jlorenc01 commented on #85
Vyřešeno.

[2015-05-06 21:13] azuritus commented on #89
Pokus o řešení, ale vzhledem k tomu, že lokálně jsem problém nedokázal reprodukovat ani na začátku, jedná se o střelbu naslepo.

[2015-05-06 21:21] FilipMatys commented on #89
Opraveno, děkuji

[2015-05-06 21:21] #89 closed, assigned to azuritus

[2015-05-06 21:22] #87 closed, assigned to azuritus

[2015-05-06 21:23] FilipMatys opened #90 "Dashboard: Firma - Chybějící tlačítko Profile"
Může být implementováno obdobně jako nastavení u dashboardu admina

[2015-05-06 21:47] FilipMatys opened #91 "Uživatel: Firma - Nezobrazují se některé atributy a nelze uložit"
Po registraci/vytvoření se u uživatele Firma nezobrazuje:
- Company name
- Identification number
- VAT identification number
- Link
- Address

[2015-05-06 21:51] azuritus commented on #86
Implementováno na dashboarder admin a kontaktní osoba, jinde snad není.

[2015-05-07 06:30] FilipMatys commented on #31
Opět mi chybí zpětná vazba

[2015-05-07 09:18] azuritus commented on #91
Vyřešeno.

[2015-05-07 10:18] azuritus commented on #88
Vyřešeno.

[2015-05-07 10:39] ghost commented on #80
Vojtech Malasek - 4

[2015-05-07 10:48] azuritus commented on #90
Přidáno.

[2015-05-07 10:49] ghost commented on #68
Radek aktualizovan...

[2015-05-07 11:15] FilipMatys commented on #86
Ještě obrazovka Companies :)

[2015-05-07 11:40] FilipMatys commented on #52
Ještě opraveny ikony

[2015-05-07 11:41] #88 closed, assigned to azuritus

[2015-05-07 11:41] #90 closed, assigned to azuritus

[2015-05-07 11:41] #91 closed, assigned to azuritus

[2015-05-07 11:45] FilipMatys opened #92 "Uživatel - Tlačítka "Participate.." a "Save and assign to me""
Možnost účastnit se by měla být zobrazeno pouze při vytváření uživatele.

Podobně pak "Save and assign to me". Lze pouze pro kontaktní osobu ze strany FIT a pouze v případě, že se jedná o novou firmu a je zaškrtnuto výše zmíněné.

[2015-05-07 11:46] FilipMatys opened #93 "Uživatel - Participate in the upcoming event"
Po vytvoření firmy se zaškrtnutou možností je potřeba vytvořit objekt typu Participation s vazbou na aktuální konferenci a vytvořenou firmu.

[2015-05-07 11:49] FilipMatys opened #94 "Uživatel - Save and assign to me"
Pokud je označeno participate in the upcoming event a uživatel uložen pomocí tohoto tlačítka, je vytvořena mezi aktuálně přihlášenou kontaktní osobou a nově vzniklou účastí vazba.

Souvisí s  #93

[2015-05-07 11:50] FilipMatys opened #95 "Recover password"
Implementace funkcionality

[2015-05-07 11:51] #61 closed, assigned to azuritus

[2015-05-07 11:52] FilipMatys opened #96 "Unikátnost uživatelů"
I z důvodu recover password je nutné zajistit unikátnost uživatelů. Tato unikátnost by měla být zejména v uživatelském jméně a kontaktnímu emailu.

Další návrhy uvítám, avšak je nutné minimálně výše zmíněné.

[2015-05-07 11:57] FilipMatys opened #97 "Dlaždice "Add new company" - Formulář"
Přesměrování funguje korektně - role je nastavena, avšak nezobrazuje se korektně formulář, pouze checkbox, zbytek až po změně role a zpět

[2015-05-07 11:58] FilipMatys commented on #55
Zavírám, vyřešeno

[2015-05-07 11:58] #55 closed, assigned to xlenga01

[2015-05-07 12:00] FilipMatys opened #98 "Uživatel - Přesměrování z dashboard"
Pokud se dostanu na přidání uživatele z dlaždice, tak nefunguje zavření detailu vpravo nahoře.

[2015-05-07 12:39] jlorenc01 commented on #31
"Odvozené" atributy ukládány do databáze, přidány filtry dle těchto atributů.

[2015-05-07 13:02] azuritus commented on #86
Doplněno.

[2015-05-07 13:03] azuritus commented on #97
Vyřešeno během dodatečných úprav pro #86

[2015-05-07 13:03] #86 closed, assigned to azuritus

[2015-05-07 13:03] FilipMatys commented on #97
Výborně, děkuji

[2015-05-07 13:03] #97 closed, assigned to nobody

[2015-05-07 13:34] azuritus commented on #92
Upraveno.

[2015-05-07 14:09] jlorenc01 commented on #80
C# - 1, Lightswitch - 1, Javascript - 6 => Ján Lorenc - 3

[2015-05-07 14:18] jlorenc01 commented on #37
"Odvozené" atributy ukládány do databáze, přidány filtry dle těchto atributů.

[2015-05-07 16:48] #92 closed, assigned to azuritus

[2015-05-07 16:48] #60 closed, assigned to azuritus

[2015-05-07 16:50] azuritus commented on #58
Dokončena první záložka. Kvůli provedeným úpravám nebude nejspíš fungovat se starými definicemi konference.

[2015-05-07 17:32] jlorenc01 commented on #50
Implementováno v rámci jiných issue.

[2015-05-07 20:49] FilipMatys opened #99 "Obrazovka: Participations - Add participation"
Otevře dialogové okno, kde bude pouze:
- Výběr konference (Zobrazen rok)
- Výběr firmy (Zobrazeno jméno firmy)

Pro implementaci je potřeba nastavovat výchozí stav "Registered"

[2015-05-07 20:51] FilipMatys commented on #67
Tome, už by si mohl začat.

Začni přihlášením, registrací a recover. Poté dashboardy, nastavení atd..

[2015-05-07 20:53] #85 closed, assigned to jlorenc01

[2015-05-07 20:53] #58 closed, assigned to azuritus

[2015-05-07 20:54] FilipMatys opened #100 "Nastavení konference - Deadlines"
Obnovit funkcionalitu záložky Deadlines

[2015-05-07 20:55] #59 closed, assigned to xlenga01

[2015-05-07 20:58] #35 closed, assigned to xlenga01

[2015-05-07 20:58] FilipMatys commented on #35
Zavírám, dodělávky v issues

[2015-05-07 21:11] FilipMatys commented on #99
Kdyby bylo možné, tak po uložení přesměrovat na detail dané účasti

[2015-05-08 08:11] KratochvilJiri commented on #67
Pracuje se již na dokumentu?

[2015-05-08 08:26] xlenga01 commented on #67
Teď začínám. Má to být na 4-10 stránk, takže tam toho zas až tolik nacpat nemužem. Osnovu beru odsud: http://www.fit.vutbr.cz/study/courses/MPR/public/pro-pra.html#prirucka
- u nekterych veci si nejsem moc jisty co napsat(predevsim kapitola instalace)..., tak zatim udelam co budu moct a pak budu resit zbytek

Nenasel jsem zadny dobry priklad, pokud nahodou mate nekde neco schovaneho(pokud mozna pr

[2015-05-08 08:47] KratochvilJiri commented on #67
Jo díky za info. Ty počty stran jsou celkem k ničemu u návrhu bylo něco podobného a měli jsme jich ale 40 a to jsem neměli zdaleko všechno. Na to moc neber zřetel, spíš sám zkus zhodnotit co by tam mělo být a jak se ti to bude dobře dělat. Na počet stran se stejně nikdo nedívá (alespoň doteď).

Jo udělej to podle te osnovy, ve vzorovém dokumentu je více méně to stejné.

Instalace se doplní.

Další

[2015-05-08 09:36] azuritus commented on #100
Doplněny chybějící popisky a výběr času.

[2015-05-08 11:26] #100 closed, assigned to azuritus

[2015-05-08 13:12] FilipMatys opened #101 "Detail konference: Description - maximální délka"
Maximální délka popisu je nyní 255 znaků, což je velmi málo. Poprosím délku zvýšit ideálně na LONGTEXT.

[2015-05-08 13:20] FilipMatys opened #102 "Detail konference: Termíny - nelze použít některé klávesy"
Během vyplňování atributu Description:
Při stisku klávesy "mezera" dojde "vybrání" termínu, avšak mezera se nevypíše.

Při stisku šipky dojde k výběru jiného termínu.

[2015-05-08 13:26] FilipMatys opened #103 "Detail konference: Set as active/closed nefunguje"
Po stisku tlačítka musí dojít rovnou k uložení, nikoliv k nastavení na pozadí.

Aktuálně funguje následovně:
Po stisknutí tlačítka Set as active se tlačítko změní na Set as closed. Po uložení se stav uloží (Špatně)

Je potřeba:
Po stisknutí tlačítka Set as active dojde k uložení do stavu Active

[2015-05-08 13:29] FilipMatys opened #104 "Dashboard: Admin/Kontaktní osoba - Tlačítko profile"
Chybějící tlačítko Profile pro přesměrování na detail aktuálně přihlášeného uživatele. Tlačítko by mělo být vedle tlačítka nastavení.

[2015-05-08 13:32] FilipMatys commented on #73
Zavírám. Vzniklo nové issue jako bug
https://github.com/FilipMatys/MPR2015/issues/103

[2015-05-08 13:32] #73 closed, assigned to xlenga01

[2015-05-08 13:33] FilipMatys commented on #32
Co zbývá, prosím?

[2015-05-08 13:33] FilipMatys commented on #31
Co zbývá, prosím?

[2015-05-08 17:19] xlenga01 commented on #67
nahodil jsem do skladu(rozpracováno) nástřel - ještě tam chybý informace v kapitole Instalace a v kapitola Referenční příručka je rozpracovaná - nevim přesně jak konkrétní tam mám být... Ještě mi chybý dva screeny, a některé z použitých nejsou úplně ideální, ale vzhledem k zbývajícímu času jsem je radši použil než nemít nic...

vždycky když tam něco chybý tak jsem se tam snažil psát TODO

[2015-05-08 18:25] jlorenc01 commented on #101
Upravil jsem i ostatní atributy description apod. Maximálně šla zadat délka 4 000, tak jsem omezení na délku odstranil. Dle chybového hlášení při pokusu zadat délku více než 4 000 by při nevyplnění pole max length mělo být možné uložit i delší řetězec.

[2015-05-08 18:50] #101 closed, assigned to jlorenc01

[2015-05-08 19:18] jlorenc01 commented on #37
Přidáno tlačítko delete.

[2015-05-08 19:22] jlorenc01 commented on #31
Asi kompletní.

[2015-05-08 19:28] Lorry1 commented on #32
Při odstranění firmy ze systému chci odstranit uživatele typu firma. To funguje ok, nicméně po odstranění jsem přesměrován na seznam firem a řádek s právě odstraněnou firmou je pořád v tabulce (pouze atributy uložené v tabulce firma). Asi způsobeno tím, že se odstraní uživatel typu firma, pak dojde k přesměrování na seznam firem a teprve potom se spustí cascade delete, který odstraní firmu atd. Je

[2015-05-08 20:07] xlenga01 commented on #67
Nahral jsem verzi, ktera by mela byt uz jaks taks stravitelna...

[2015-05-08 20:46] jlorenc01 commented on #96
Bylo možné jednoduše zatrhnout checkbox Include in Unique Index v properties entity User, ale funguje jen s interní databází LS a vypisuje vlastní chybové hlášení. Zvolil jsem tedy custom validation. Zatím tedy pro atributy Login a Email.

[2015-05-08 21:01] #96 closed, assigned to jlorenc01

[2015-05-08 21:02] FilipMatys commented on #63
Vyreseno stazenim zdrojovych kodu

[2015-05-08 21:02] #63 closed, assigned to FilipMatys

[2015-05-08 21:03] #31 closed, assigned to jlorenc01

[2015-05-08 21:03] #37 closed, assigned to jlorenc01

[2015-05-08 21:04] #50 closed, assigned to jlorenc01

[2015-05-08 23:28] S1LL commented on #69
Nahráno, schválně koukněte na uživatelské testy co nefunguje...

[2015-05-09 06:55] FilipMatys opened #105 "Detail účasti - Zobrazovat pouze názvy souborů s odkazem"
Pokud se nahraje obrázek, tak jeho zobrazení je nekorektní. Vyřešit odkazem

[2015-05-09 06:57] FilipMatys opened #106 "Companies - Po kliknutí odkazovat na profil firmy"

[2015-05-09 07:50] KratochvilJiri commented on #67
Divám se, že už ji máš dokonce schvalenou od vedení..?? :D

Ted jsem to procházel. Koncepčně je to ok, ale není to kompletní. Nicméně rozsahem podle jejich měřítek je to ok a kdyby tam mělo být všechno tak to ma tak 30 stran aspon. Za další odkazuješ se tam na specifikaci a navrh, což je ok. Pokud někdo bude potřebovat, může si to dohledat tam. A poslední věc je zbytečné s tím ztrácet další čas. B

[2015-05-09 07:52] KratochvilJiri commented on #67
Jo ještě jsem zapomněl. Kdyžtak to bleskově prolet. Narazil jsem tam na pár překlepů. Jeden byl přímo v popisu obrázku - obrázek 2. - presentation - popisek prvku.

[2015-05-09 08:06] KratochvilJiri commented on #69
Dokument je ok.

Poprosim te, aby jsi vsechny testy, ktere neprosly nahazel na gitHub jako bugy i s popiskem, co jsi provadel za test a co se stalo.

Dokument hod do slozky "ke schvaleni". Jak se budou bugy postupne opravovat, tak to prosim znovu testni a pripadne prepis vysledek testu respektive pridej dalši řádek. To už můžeš dělat přímo ve složce ke schválení.

Kdyby byla nějaka nejasnost, jsem

[2015-05-09 08:12] FilipMatys opened #107 "Uživatel: Firma - Nezobrazovat tlačítko participations, pokud je přihlášeným uživatelem firma"
Tlačítko Participations slouží pouze pro FIT (admin a kontaktní osoba) jako odkaz na účasti firmy. Firma jako taková však nemá do seznamu účastí přistup. Své účasti vidí pouze na své nastěnce.

[2015-05-09 08:16] FilipMatys opened #108 "Uživatel: Vyplnění hesla"
1) Při načtení detailu uživatele by se nemělo načítat heslo
2) Při uložení by se mělo kontrolovat zadání hesla. V případě, kdy není zadané, tak umožnit uložení (bez změny hesla). Nemělo by být totiž nutné při úpravě uživatele vždy zadávat heslo.

[2015-05-09 08:19] FilipMatys commented on #93
Platí pro registraci i pro vytvoření uživatele.

[2015-05-09 08:20] FilipMatys commented on #93
Je možné, prosím, nastavit viditelnost podle toho, jestli je aktivní nějaká konference?

[2015-05-09 08:37] FilipMatys commented on #98
Nepodařilo se mi již zreprodukovat

[2015-05-09 08:37] #98 closed, assigned to nobody

[2015-05-09 08:46] KratochvilJiri commented on #69
Jo ještě jsem zapomněl. Smaž ten odstavec, kde pišeš, kde je uložena specifikace - dlouhy odkaz nakonci odstavce. Je to zbytečné. Diky.

[2015-05-09 09:05] #80 closed, assigned to nobody

[2015-05-09 09:26] KratochvilJiri opened #109 "Dokument - prezentace pro závěrečnou schůzi se zákazníkem"
Vytvoř prezentaci.

Pokyny byly sděleny na skype.

[2015-05-09 09:30] azuritus commented on #93
Implementováno, včetně viditelnosti podle existence aktivní konference.

[2015-05-09 09:47] azuritus commented on #94
Implementováno.

[2015-05-09 09:47] #93 closed, assigned to azuritus

[2015-05-09 10:15] KratochvilJiri commented on #109
Dokument poté nahraj na google drive - do hlavní složky. Díky.

[2015-05-09 10:15] azuritus commented on #99
Implementováno, včetně přesměrování po uložení.

[2015-05-09 10:21] azuritus commented on #107
Upraveno.

[2015-05-09 10:34] azuritus commented on #104
Doplněno.

[2015-05-09 10:45] azuritus commented on #102
Opraveno.

[2015-05-09 10:48] xlenga01 commented on #62
Uz by tam mela byt naka zobrazitelna verze - jen jsem to moc netestoval na datech.

[2015-05-09 11:08] azuritus commented on #103
Opraveno.

[2015-05-09 11:25] #104 closed, assigned to azuritus

[2015-05-09 11:26] #99 closed, assigned to azuritus

[2015-05-09 11:29] #102 closed, assigned to azuritus

[2015-05-09 11:39] azuritus commented on #108
Upraveno.

[2015-05-09 11:40] FilipMatys opened #110 "Uživatel - Tlačítko Participations"
Bohužel nyní blbne zobrazení, zkusím napsat přesné stavy. Zobrazuje se pouze tehdy, když:
- Role je "Company"
- Uživatel je již vytvořen (nejedná se o jeho tvorbu)
- Přihlášeny uživatel není typu "Company"

[2015-05-09 11:41] FilipMatys commented on #107
Toto zavírám, je však potřeba doupravit v #110

[2015-05-09 11:41] #107 closed, assigned to azuritus

[2015-05-09 11:46] azuritus commented on #110
Opraveno, snad už jsem to pobral správně.

[2015-05-09 11:47] FilipMatys commented on #110
Děkuji

[2015-05-09 11:47] #110 closed, assigned to azuritus

[2015-05-09 11:52] #108 closed, assigned to azuritus

[2015-05-09 12:31] azuritus commented on #95
Implementováno.

[2015-05-09 12:47] #67 closed, assigned to xlenga01

[2015-05-09 13:03] azuritus commented on #106
Upraveno, snad jsem pochopil správně, že se má zobrazit detail uživatele.

[2015-05-09 13:26] azuritus commented on #83
Přidáno.

[2015-05-09 13:56] azuritus commented on #84
Přidáno.

[2015-05-09 16:53] FilipMatys commented on #106
Ano, děkuji

[2015-05-09 16:53] #106 closed, assigned to azuritus

[2015-05-09 16:54] #103 closed, assigned to azuritus

[2015-05-09 17:00] #95 closed, assigned to azuritus

[2015-05-09 17:04] #94 closed, assigned to azuritus

[2015-05-09 17:05] FilipMatys opened #111 "Dashboard: Admin/Kontaktní osoba - Nezobrazují se Participation* dlaždice"

[2015-05-09 17:08] FilipMatys commented on #111
Nejedná se jen o odkaz na Participation, ale i dlaždice, které nesou parametry.

[2015-05-09 17:11] FilipMatys opened #112 "Detail účasti - Add Note"
Přidání poznámky by mělo být ihned, bez nutnosti uložení

[2015-05-09 17:15] FilipMatys opened #113 "Účast firmy na konferenci musí být unikátní"
Momentálně lze vytvořit pro jednu firmu více účastí (Skrze okno Participations), což je špatně

[2015-05-09 17:25] FilipMatys opened #114 "Uživatel: Firma - Participations s parametry"
Tlačítko Participations u uživatele Firma musí odkázat na seznam účastí pouze dané firmy

[2015-05-09 17:33] azuritus commented on #111
Přísahal bych, že mě to fungovalo i před tím, každopádně by to už melo být opravené.

[2015-05-09 17:43] azuritus commented on #114
Přidáno.

[2015-05-09 18:01] azuritus commented on #113
Doplněn složený unikátní index na Firmu a Konferenci. Pokud už však existují špatná data, bude je nutné před nasazením opravit / odstranit.

[2015-05-09 18:08] #114 closed, assigned to azuritus

[2015-05-09 18:08] FilipMatys commented on #113
Počítám s tím, děkuji

[2015-05-09 18:08] #113 closed, assigned to azuritus

[2015-05-09 18:13] FilipMatys opened #115 "Povolit custom validaci pro deployment"
Viz error: registrace firmy s již existujícím loginem/emailem

[2015-05-09 18:14] FilipMatys opened #116 "Detail účasti: Assign To Me"
Implementovat funkcionalitu

[2015-05-09 18:14] FilipMatys opened #117 "Detail konference: Cancel participation"
Implementace funkcionality

[2015-05-09 18:16] FilipMatys opened #118 "Detail konference: Submit payment"
Zobrazuje se pouze tehdy, pokud je účast ve stavu Signed a dodat implementaci tlačítka (Po stisknutí dojde ihned k uložení)

[2015-05-09 18:22] LiborMan commented on #116
a nezobrazovat pro firmu

[2015-05-09 18:24] LiborMan commented on #112
záložku Notes nezobrazovat pro roli Firmu

[2015-05-09 18:29] #83 closed, assigned to azuritus

[2015-05-09 18:29] #111 closed, assigned to azuritus

[2015-05-09 18:29] FilipMatys commented on #111
V pohodě ;)

[2015-05-09 18:29] #84 closed, assigned to azuritus

[2015-05-09 18:50] FilipMatys opened #119 "Participation: Workflow"
- Registered
  -- Při vytvoření
- Approved
  -- Po přiřazení kontaktní osoby, takže při Assign to me a při vytvoření uživatele firma skrze tlačítko Save and assign to me
- Contract signed
  -- Po uložení materiálu Contract
- Canceled
  -- Po kliknutí na tlačítko Cancel participation
- Complete
  -- Po uzavření přiřazené konference

Pokud najdete chybu nebo nesrovnalosti, tak mi napište.

[2015-05-09 18:54] FilipMatys opened #120 "Conference: Workflow"
Mám implementační dotaz s navazujícím issue.

Předpokládám, že konference bude ve třech stavech:
- Inactive
- Active
- Closed, jelikož uzavřenou konferenci by nemělo jít dostat zase do stavu Active

Z toho mi vyplývá, že je potřeba Active: Bool změnit na výčtový typ.

Poprosím o vyjádření a následně o implementaci. díky.

[2015-05-09 19:27] FilipMatys opened #121 "Uživatel: Odeslání přihlašovacích údajů"
Odeslat přihlašovací údaje při interním vytvoření uživatele.

[2015-05-09 19:29] xlenga01 commented on #118
Melo by byt vyreseno

[2015-05-09 20:06] xlenga01 commented on #117
Snad vyreseno

[2015-05-09 20:23] S1LL opened #122 "Exceptions: Při přidávání nefunguje vyhledávání Participation"
Vypadá to, že se vyhledává podle stavu?

[2015-05-09 20:29] FilipMatys opened #123 "Detail účasti pro FIT: Show profile upravit na zobrazení detailu uživatele"

[2015-05-09 20:46] FilipMatys opened #124 "Dashboard: Firma - Profile chybějící údaje"
Po přesměrování na detail pomocí tlačítka Profile se nenačtou veškeré údaje

[2015-05-10 06:36] KratochvilJiri commented on #109
Schváleno. Díky.

[2015-05-10 06:36] #109 closed, assigned to andreamarcelyova

[2015-05-10 06:39] KratochvilJiri commented on #41
přesunuto do složky - "ke schválení". Nakonci implementace poprosím o aktualizaci.

[2015-05-10 06:41] KratochvilJiri commented on #77
Vloženo od všech. Uzavřeno.

[2015-05-10 06:41] #77 closed, assigned to nobody

[2015-05-10 06:42] KratochvilJiri commented on #71
Čeká na schválení.

[2015-05-10 06:42] KratochvilJiri commented on #70
Čeká na schválení.

[2015-05-10 06:42] KratochvilJiri commented on #69
Čeká na schválení.

[2015-05-10 06:42] KratochvilJiri commented on #49
Čeká na schválení.

[2015-05-10 07:59] FilipMatys commented on #120
Poprosím o implementaci

[2015-05-10 07:59] FilipMatys commented on #118
Mělo, nebo je? Pokud ano, tak Resolved! Potřebuju se v tom vyznat

[2015-05-10 08:09] FilipMatys commented on #32
Ať už zbývá cokoliv, bude v nových issues...

[2015-05-10 08:09] #32 closed, assigned to jlorenc01

[2015-05-10 08:10] #81 closed, assigned to xlenga01

[2015-05-10 08:16] FilipMatys commented on #41
Generování dokumentace sice funguje, ale všiml jsem si, že nedochází příliš ke komentování zdrojového kódu. Zkuste na to, prosím, myslet. Je to další z komunikačních průserů, stejně jako to, že tento komentář bude opět většina z vás opět ignorovat.

[2015-05-10 15:54] azuritus commented on #119
Implementováno.

[2015-05-10 15:54] azuritus commented on #116
Implementováno.

[2015-05-10 15:54] azuritus commented on #120
Implementováno.

[2015-05-10 16:31] azuritus commented on #82
Implementováno.

[2015-05-10 16:47] FilipMatys opened #125 "Nelze vytvořit konferenci a nastavit ji jako aktivní"
Nelze vytvořit konferenci, hlásí "The field Active is required".

Zmizel panel nástrojů, tedy nelze uložit a nastavit jako aktivní a zároveň nelze Set as active/Set as closed. Panel nemá být správně viditelný pouze tehdy, pokud je stav Closed (V tu chvíli totiž nedává smysl)

[2015-05-10 16:51] azuritus commented on #123
Upraveno.

[2015-05-10 17:10] azuritus commented on #125
Opraveno.

[2015-05-10 17:20] #120 closed, assigned to azuritus

[2015-05-10 17:20] #125 closed, assigned to azuritus

[2015-05-10 17:21] FilipMatys opened #126 "Firma: Tlačítko Participate na detailu účasti nefunguje"
Hlásí:
Cannot read property 'Company' of undefined

[2015-05-10 17:22] #119 closed, assigned to azuritus

[2015-05-10 17:22] #82 closed, assigned to azuritus

[2015-05-10 17:22] #123 closed, assigned to azuritus

[2015-05-10 17:24] #118 closed, assigned to xlenga01

[2015-05-10 17:24] #117 closed, assigned to xlenga01

[2015-05-10 17:25] #116 closed, assigned to azuritus

[2015-05-10 17:27] azuritus commented on #126
Nejspíš to souvisí s #124 když se nedotáhne info o firmě, nebude fungovat ani tohle tlačítko, které informaci využívá.

[2015-05-10 17:29] #122 closed, assigned to azuritus

[2015-05-10 17:32] FilipMatys commented on #115
Informace ze strany serveru povoleny, avšak vyhazuje výjimku

[2015-05-10 17:43] azuritus commented on #126
Opraveno.

[2015-05-10 17:43] azuritus commented on #124
Opraveno.

[2015-05-10 17:45] FilipMatys commented on #126
Děkuji

[2015-05-10 17:50] azuritus commented on #105
Náhled odstraněn, pro zobrazování názvů souborů by je bylo potřeba ukládat, což je na změnu modelu. Proto nechávám zatím otevřené.

[2015-05-10 17:51] #124 closed, assigned to azuritus

[2015-05-10 17:58] FilipMatys commented on #105
Ok

[2015-05-10 17:58] #105 closed, assigned to azuritus

[2015-05-10 18:53] azuritus commented on #126
Opraveno.

[2015-05-10 19:11] azuritus commented on #121
Implementováno.

[2015-05-10 20:24] #126 closed, assigned to azuritus

[2015-05-10 20:24] #121 closed, assigned to azuritus

[2015-05-10 20:27] FilipMatys opened #127 "Detail účasti - Assign to me -> participation is not defined"

[2015-05-10 20:27] FilipMatys opened #128 "Detail účasti: Firma - Upload souborů"

[2015-05-10 20:36] azuritus commented on #127
Opraveno.

[2015-05-10 20:47] azuritus commented on #41
Nahrál jsem tam aktualizovanou verzi.

[2015-05-10 21:20] xlenga01 commented on #128
Asi vyreseno.

[2015-05-10 21:20] #128 closed, assigned to xlenga01

[2015-05-10 21:23] #127 closed, assigned to azuritus

[2015-05-10 21:25] FilipMatys opened #129 "Admin: Dlaždice Pending participations - Špatné parametry"
Musí zobrazit Participations s nastaveným filtrem aktuální konference a stav participation Registered

[2015-05-10 21:46] FilipMatys opened #130 "Kontaktní osoba: Dlaždice Unassigned participations - Špatné parametry"

[2015-05-10 22:06] xlenga01 commented on #130
Vyreseno

[2015-05-10 22:06] #130 closed, assigned to xlenga01

[2015-05-10 22:06] xlenga01 commented on #129
Vyreseno

[2015-05-10 22:06] #129 closed, assigned to xlenga01

[2015-05-11 08:13] FilipMatys commented on #71
Aplikace obsahuje následující nedostatky:
- Neprobíhá kontrola termínů vůči konferenci.
- Systém Výjimek je funkční, ale kvůli absenci kontroly termínů postrádá smysl.
- Aplikace se potýká s problémy zobrazení aktuálních dat, je tedy někdy potřeba provést obnovení stránky.
- Neprobíhá kontrola datumů, je tedy možné zadat neplatné trvání od do, stejně tak lze zadat termíny prezentačních materiálů v